{{page-title 'Settings'}}

<PageHeader @title="Account Settings" @icon="gear"/>

<SettingsPage>
  <div local-class='me-profile'>
    <h2>Profile Information</h2>

    <div local-class='info'>
      <UserLink @user={{this.model.user}}> <UserAvatar @user={{this.model.user}} @size="medium" /> </UserLink>

      <dl>
        <dt>Name</dt>
        <dd>{{ this.model.user.name }}</dd>
        <dt>GitHub Account</dt>
        <dd>{{ this.model.user.login }}</dd>
      </dl>
    </div>

    <p>
        To update your name and GitHub account, change them in your GitHub profile, then sign out and login again to
        crates.io.
        You cannot change these settings directly on crates.io, but we accept whatever values come from GitHub.
    </p>
  </div>

  <div local-class="me-email">
    <h2>User Email</h2>
    <EmailInput
      @user={{this.model.user}}
      data-test-email-input
    />
  </div>
</SettingsPage>