<div class={{if api_token.isNew "row create-token" "row"}}>
    <div class='name'>
        {{#if api_token.isNew}}
            {{input
                type="text"
                placeholder="New token name"
                disabled=api_token.isSaving
                value=api_token.name
                autofocus=true
                enter="saveToken"}}
        {{else}}
            {{ api_token.name }}
        {{/if}}
    </div>

    <div class='spacer'></div>

    {{#unless api_token.isNew}}
        <div class='dates'>
            <div class='created-at'>
                <span class='small' title={{api_token.created_at}}>
                Created {{moment-from-now api_token.created_at}}
                </span>
            </div>
            {{#if api_token.last_used_at}}
                <div class='last_used_at'>
                <span class='small' title={{api_token.last_used_at}}>
                Last used {{moment-from-now api_token.last_used_at}}
                </span>
                </div>
            {{else}}
                <div class='last_used_at'>
                <span class='small'>Never used</span>
                </div>
            {{/if}}
        </div>
    {{/unless}}

    <div class='actions'>
        {{#if api_token.isNew}}
            <button class='small yellow-button'
                disabled={{disableCreate}}
                title={{if emptyName "You must specify a name" ""}}
                {{action "saveToken"}}>Create</button>
        {{else}}
            <button class='small tan-button'
                disabled={{api_token.isSaving}}
                {{action "revokeToken"}}>Revoke</button>
        {{/if}}
        {{#if api_token.isSaving}}
            <img class='overlay' src="/assets/ajax-loader.gif">
        {{/if}}
    </div>
</div>

{{#if serverError}}
    <div class='row error'>
        <div>
            {{ serverError }}
        </div>
    </div>
{{/if}}

{{#if api_token.token}}
    <div class='row new-token'>
        <div>
            Please record this token somewhere, you cannot retrieve
            its value again. For use on the command line you can save it to <code>~/.cargo/credentials</code>
            with:

            <pre>cargo login {{ api_token.token }}</pre>
        </div>
    </div>
{{/if}}
