<a href="https://cirrus-ci.com/github/{{ repository }}">
    <img
        src="https://api.cirrus-ci.com/github/{{ repository }}.svg?branch={{ branch }}"
        alt="{{ text }}"
        title="{{ text }}">
</a>
