<a href="https://codecov.io/{{ service }}/{{ repository }}?branch={{ branch }}">
    <img
        src="https://codecov.io/{{ service }}/{{ repository }}/coverage.svg?branch={{ branch }}"
        alt="{{ text }}"
        title="{{ text }}">
</a>