<a href="https://gitlab.com/{{ repository }}/pipelines">
    <img
        src="https://gitlab.com/{{ repository }}/badges/{{ branch }}/build.svg"
        alt="{{ text }}"
        title="{{ text }}">
</a>
