<span class="badge" ...attributes>
  <a href="https://coveralls.io/{{ this.service }}/{{ this.repository }}?branch={{ this.branch }}">
    <img
        src="https://coveralls.io/repos/{{ this.service }}/{{ this.repository }}/badge.svg?branch={{ this.branch }}"
        alt="{{ this.text }}"
        title="{{ this.text }}">
  </a>
  
</span>