<a href="https://ci.appveyor.com/project/{{ repository }}">
    <img
        src="https://ci.appveyor.com/api/projects/status/{{ service }}/{{ repository }}?svg=true&branch={{ branch }}"
        alt="{{ text }}"
        title="{{ text }}" />
</a>
