<a href="https://bitbucket.org/delan/nonymous/addon/pipelines/home#!/results/branch/{{ branch }}/page/1">
  <img
      src="https://img.shields.io/bitbucket/pipelines/{{ repository }}/{{ branch }}"
      alt="{{ text }}"
      title="{{ text }}">
</a>
