<a href="https://coveralls.io/{{ service }}/{{ repository }}?branch={{ branch }}">
    <img
        src="https://coveralls.io/repos/{{ service }}/{{ repository }}/badge.svg?branch={{ branch }}"
        alt="{{ text }}"
        title="{{ text }}">
</a>