<span class="badge" ...attributes>
  <a href="https://travis-ci.org/{{ this.repository }}">
    <img
        src="https://travis-ci.org/{{ this.repository }}.svg?branch={{ this.branch }}"
        alt="{{ this.text }}"
        title="{{ this.text }}">
  </a>
  
</span>