<span class="badge" ...attributes>
  <a href="https://cirrus-ci.com/github/{{ this.repository }}">
    <img
        src="https://api.cirrus-ci.com/github/{{ this.repository }}.svg?branch={{ this.branch }}"
        alt="{{ this.text }}"
        title="{{ this.text }}">
  </a>
  
</span>