<a href="https://github.com/{{ repository }}/actions?query=workflow%3A&quot;{{ workflow }}&quot;">
  <img
      src="https://github.com/{{ repository }}/workflows/{{ workflow }}/badge.svg"
      alt="{{ text }}"
      title="{{ text }}">
</a>
