<a href="https://dev.azure.com/{{ project }}/_build/latest?definitionId={{ build }}">
    <img src="https://dev.azure.com/{{ project }}/_apis/build/status/{{ pipeline }}" alt="{{ text }}" title="{{ text }}">
</a>
