<a href="https://travis-ci.{{ tld }}/{{ repository }}">
    <img
        src="https://travis-ci.{{ tld }}/{{ repository }}.svg?branch={{ branch }}"
        alt="{{ text }}"
        title="{{ text }}">
</a>
