<a href="https://circleci.com/gh/{{ repository }}">
    <img
        src="https://circleci.com/gh/{{ repository }}/tree/{{ branch }}.svg?style=shield"
        alt="{{ text }}"
        title="{{ text }}">
</a>
