<div class='desc'>
    <div class='info'>
        {{#link-to 'crate' crate.id data-test-crate-link}}{{ crate.name }}{{/link-to}}
        {{crate-badge crate=crate}}
        {{#each crate.annotated_badges as |badge|}}
            {{component badge.component_name badge=badge data-test-badge=badge.badge_type}}
        {{/each}}
    </div>
    <div class='summary' data-test-description>
        <span class='small'>
            {{ truncate-text crate.description }}
        </span>
    </div>
</div>
<div class='stats'>
    <div class='downloads' data-test-downloads>
        {{svg-jar "download"}}
        <span class='num'>All-Time: {{ format-num crate.downloads }}</span>
    </div>
    <div class="recent-downloads" data-test-recent-downloads>
        {{svg-jar "download"}}
        <span class='num'><abbr title="Downloads in the last 90 days">Recent:</abbr> {{ format-num crate.recent_downloads }}</span>
    </div>
</div>
<div class="quick-links">
    <ul>
        {{#if crate.homepage}}
          <li><a href="{{crate.homepage}}">Homepage</a></li>
        {{/if}}
        {{#if crate.documentation}}
          <li><a href="{{crate.documentation}}">Documentation</a></li>
        {{/if}}
        {{#if crate.repository}}
          <li><a href="{{crate.repository}}">Repository</a></li>
        {{/if}}
    </ul>
</div>
