<div class='desc'>
    <div class='info'>
        {{#link-to 'crate' crate.id}}{{ crate.name }}{{/link-to}}
        <span class='vers'>
            <img
                src="https://img.shields.io/crates/v/{{ crate.name }}.svg"
                alt="{{ crate.max_version }}"
                title="{{ crate.name }}’s current version badge" />
        </span>
        {{#each crate.annotated_badges as |badge|}}
            {{component badge.component_name badge=badge}}
        {{/each}}
        {{badge-build-info crate=crate}}
    </div>
    <div class='summary'>
        <span class='small'>
            {{ truncate-text crate.description }}
        </span>
    </div>
</div>
<div class='stats'>
    <div class='downloads'>
        <img class="download" src="/assets/download.png"/>
        <span class='num'>{{ format-num crate.downloads }}</span>
    </div>
</div>
<div class="quick-links">
    <ul>
        {{#if crate.homepage}}
          <li><a href="{{crate.homepage}}">Homepage</a></li>
        {{/if}}
        {{#if crate.documentation}}
          <li><a href="{{crate.documentation}}">Documentation</a></li>
        {{/if}}
        {{#if crate.repository}}
          <li><a href="{{crate.repository}}">Repository</a></li>
        {{/if}}
    </ul>
</div>
