<CopyButton @clipboardText={{copyText}} @success={{action "copySuccess"}} @error={{action "copyError"}} @title="Copy Cargo.toml snippet to clipboard">
  {{svg-jar "copy" alt="Copy Cargo.toml snippet to clipboard"}}
  <div class="copy-notification {{if showSuccess "copy-success" "copy-failure"}}">
    {{#if showNotification}}
      {{#if showSuccess}}
        Copied!
      {{else}}
        An error occured. Please use CTRL+C.
      {{/if}}
    {{/if}}
  </div>
</CopyButton>
