<div class='row'>
    <div class='label'>
        <dt>Email</dt>
    </div>
    {{#if isEditing }}
        <form {{action 'saveEmail' on='submit'}}>
            {{input type=type value=value placeholder='Email' class='form-control'}}
            {{#if notValidEmail }}
                <p>Invalid email format. Please try again.</p>
            {{/if}}
            <p> Please add your email address. We need this in order to contact you
            just in case anything goes wrong. We promise we'll never share it!
            </p>
            <div class='actions'>
                <button type='submit' class='small yellow-button' disabled={{disableSave}}>Save</button>
                <button class='small yellow-button' {{action 'cancelEdit'}}>Cancel</button>
            </div>
        </form>
    {{else}}
        <div class='email'>
            <dd>{{ user.email }}</dd>
        </div>
        <div class='actions'>
            <button class='small yellow-button' {{action 'editEmail'}}>Edit</button>
        </div>
    {{/if}}
</div>
