<div class='row'>
  {{#if isAccepted }}
    <p>
      Success! You've been added as an owner of crate
      <LinkTo @route="crate" @model={{invite.crate_name}}>{{invite.crate_name}}</LinkTo>.
    </p>
  {{else if isDeclined}}
    <p>
      Declined. You have not been added as an owner of crate
      <LinkTo @route="crate" @model={{invite.crate_name}}>{{invite.crate_name}}</LinkTo>.
    </p>
  {{else}}
    <div class='info'>
      <div class='name'>
        <h3>
          <LinkTo @route="crate" @model={{invite.crate_name}}>
            {{invite.crate_name}}
          </LinkTo>
        </h3>
      </div>
      <div class='invite'>
        <p>
          Invited by:
          <LinkTo @route="user" @model={{invite.invited_by_username}}>
            {{invite.invited_by_username}}
          </LinkTo>
        </p>
      </div>
      <div class='sent'>
        <span class='small'>{{moment-from-now invite.created_at}}</span>
      </div>
      <div class='actions'>
        <button class='small yellow-button' {{action 'acceptInvitation' invite}}>Accept</button>
        <button class='small yellow-button' {{action 'declineInvitation' invite}}>Decline</button>
      </div>
      {{#if isError}}
        <div class='label'>
          <p class='small-text'>{{inviteError}}</p>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
