<dl>
  <dt>Name</dt>
  <dd>{{name}}</dd>
  <dt>Slug</dt>
  <dd>{{id}}</dd>
</dl>

<table>
  <tr>
    <th>Version</th>
    <th>&nbsp;</th>
  </tr>
  {{#each versions}}
    <tr>
      <td>{{num}}</td>
      <td><a {{bind-attr href="url"}}>{{url}}</a></td>
    </tr>
  {{/each}}
</table>

{{#if session.isLoggedIn}}
  {{#link-to "package.edit" this}}[edit]{{/link-to}}
{{/if}}
