<div
  local-class="
    row
    {{if @version.yanked "yanked"}}
    {{if @version.isPrerelease "prerelease"}}
  "
  ...attributes
>
  <div title={{if @version.yanked "This version was yanked"}} local-class="release-track">
    {{#if @version.yanked}}
      {{svg-jar "trash"}}
    {{else}}
      {{@version.releaseTrack}}
    {{/if}}
  </div>

  <div>
    <LinkTo
      @route="crate.version"
      @model={{@version.num}}
      local-class="num-link"
    >
      {{@version.num}}
    </LinkTo>
  </div>

  <span title={{date-format @version.created_at 'PPP'}} local-class="date">
    {{date-format-distance-to-now @version.created_at addSuffix=true}}
  </span>

  {{#if this.isOwner}}
    <YankButton @version={{@version}} local-class="yank-button" />
  {{/if}}
</div>
