<form
  local-class="report-form"
  data-testid="crate-report-form"
  ...attributes
  {{on "submit" (prevent-default this.submit)}}
>
  <h2>Report A Crate</h2>

  <fieldset local-class="form-group" data-test-id="fieldset-crate">
    {{#let (unique-id) as |id|}}
      <label for={{id}} local-class="form-group-name">
        Crate
      </label>
      <Input
        id={{id}}
        @type="text"
        @value={{this.crate}}
        autocomplete="off"
        aria-required="true"
        aria-invalid={{if this.crateInvalid "true" "false"}}
        local-class="crate-input"
        data-test-id="crate-input"
        {{auto-focus}}
        {{on "input" this.resetCrateValidation}}
      />
      {{#if this.crateInvalid}}
        <div local-class="form-group-error" data-test-id="crate-invalid">
          Please specify a crate.
        </div>
      {{/if}}
    {{/let}}
  </fieldset>

  <fieldset local-class="form-group" data-test-id="fieldset-reasons">
    <div local-class="form-group-name">Reasons</div>
    <ul role="list" local-class="reasons-list {{if this.reasonsInvalid "invalid"}}">
      {{#each this.reasons as |option|}}
        <li>
          <label>
            <Input
              @type="checkbox"
              @checked={{this.isReasonSelected option.reason}}
              name={{ option.reason }}
              data-test-id="{{ option.reason }}-checkbox"
              {{on "change" (fn this.toggleReason option.reason)}}
            />
            {{option.description}}
          </label>
        </li>
      {{/each}}
    </ul>
    {{#if this.reasonsInvalid}}
      <div local-class="form-group-error" data-test-id="reasons-invalid">
        Please choose reasons to report.
      </div>
    {{/if}}
  </fieldset>

  <fieldset local-class="form-group" data-test-id="fieldset-detail">
    {{#let (unique-id) as |id|}}
      <label for={{id}} local-class="form-group-name">Detail</label>
      <Textarea
        id={{id}}
        @value={{this.detail}}
        local-class="detail {{if this.detailInvalid "invalid"}}"
        aria-required={{if this.detailInvalid "true" "false" }}
        aria-invalid={{if this.detailInvalid "true" "false"}}
        rows="5"
        data-test-id="detail-input"
        {{on "input" this.resetDetailValidation}}
      />
      {{#if this.detailInvalid}}
        <div local-class="form-group-error" data-test-id="detail-invalid">
          Please provide some detail.
        </div>
      {{/if}}
    {{/let}}
  </fieldset>

  <div local-class="buttons">
    <button
      type="submit"
      local-class="report-button"
      data-test-id="report-button"
    >
      Report
    </button>
  </div>
</form>