<div local-class="me-subheading">
  <h2>API Tokens</h2>
  <div local-class="right">
    <LinkTo
      @route="settings.tokens.new"
      local-class="new-token-button"
      data-test-new-token-button
    >
      New Token
    </LinkTo>
  </div>
</div>

<p local-class="explainer">
  You can use the API tokens generated on this page to run <a href="https://doc.rust-lang.org/cargo/">cargo</a>
  commands that need write access to crates.io. If you want to publish your own
  crates then this is required.
</p>

<p local-class="explainer">
  To prevent keys being silently leaked they are stored on crates.io in hashed form. This means you
  can only download keys when you first create them. If you have old unused keys you can safely delete
  them and create a new one.
</p>

<p local-class="explainer">
  To use an API token, run <a href="https://doc.rust-lang.org/cargo/commands/cargo-login.html"><code>cargo login</code></a>
  on the command line and paste the key when prompted. This will save it to a
  <a href="https://doc.rust-lang.org/cargo/reference/config.html#credentials">local credentials file</a>.
  For CI systems you can use the
  <a href="https://doc.rust-lang.org/cargo/reference/config.html?highlight=CARGO_REGISTRY_TOKEN#credentials"><code>CARGO_REGISTRY_TOKEN</code></a>
  environment variable, but make sure that the token stays secret!
</p>

{{#if this.sortedTokens}}
  <ul role="list" local-class="token-list">
    {{#each this.sortedTokens as |token|}}
      <li local-class="row {{if token.isExpired "expired"}}" data-test-api-token={{or token.id true}}>
        <h3 local-class="name" data-test-name>
          {{token.name}}
        </h3>

        {{#if (or token.endpoint_scopes token.crate_scopes)}}
          <div local-class="scopes">
            {{#if token.endpoint_scopes}}
              <div local-class="endpoint-scopes" data-test-endpoint-scopes>
                Scopes:

                {{#each (this.listToParts token.endpoint_scopes) as |part|~}}
                  {{#if (eq part.type "element")}}
                    <strong>{{part.value}}<EmberTooltip @text={{this.scopeDescription part.value}} /></strong>
                    {{~else~}}
                    {{part.value}}
                  {{/if}}
                {{~/each}}
              </div>
            {{/if}}

            {{#if token.crate_scopes}}
              <div local-class="crate-scopes" data-test-crate-scopes>
                Crates:

                {{#each (this.listToParts token.crate_scopes) as |part|~}}
                  {{#if (eq part.type "element")}}
                    <strong>{{part.value}}<EmberTooltip @text={{this.patternDescription part.value}} /></strong>
                    {{~else~}}
                    {{part.value}}
                  {{/if}}
                {{~/each}}
              </div>
            {{/if}}
          </div>
        {{/if}}

        <div local-class="metadata">
          <div title={{token.last_used_at}} local-class="last-used-at" data-test-last-used-at>
            {{#if token.last_used_at}}
              Last used {{date-format-distance-to-now token.last_used_at addSuffix=true}}
            {{else}}
              Never used
            {{/if}}
          </div>

          <div title={{token.created_at}} local-class="created-at" data-test-created-at>
            Created {{date-format-distance-to-now token.created_at addSuffix=true}}
          </div>

          {{#if token.expired_at}}
            <div title={{token.expired_at}} local-class="expired-at" data-test-expired-at>
              {{if token.isExpired "Expired" "Expires"}} {{date-format-distance-to-now token.expired_at addSuffix=true}}
            </div>
          {{/if}}
        </div>

        {{#if token.token}}
          <div local-class="new-token">
            <div local-class="new-token-explainer">
              Make sure to copy your API token now. You won’t be able to see it again!
            </div>

            <div local-class="token-display">
              <span local-class="token-value" data-test-token>{{token.token}}</span>

              {{#if (is-clipboard-supported)}}
                <CopyButton @copyText={{token.token}} local-class="copy-button">
                  <span local-class="copy-button-label">Copy</span>
                  {{svg-jar "copy" aria-hidden="true" local-class="copy-button-icon"}}
                </CopyButton>
              {{/if}}
            </div>
          </div>
        {{/if}}

        <div local-class="actions">
          {{#unless token.isExpired}}
            <LinkTo
              @route="settings.tokens.new"
              @query={{hash from=token.id}}
              local-class="regenerate-button"
              data-test-regenerate-token-button
            >
              Regenerate
            </LinkTo>
            <button
              type="button"
              local-class="revoke-button"
              disabled={{token.isSaving}}
              data-test-revoke-token-button
              {{on "click" (perform this.revokeTokenTask token)}}
            >
              Revoke
            </button>
            {{#if token.isSaving}}
              <LoadingSpinner local-class="spinner" data-test-saving-spinner />
            {{/if}}
          {{/unless}}
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <div local-class="empty-state">
    <div local-class="empty-state-label">
      You have not generated any API tokens yet.
    </div>

    <LinkTo
      @route="settings.tokens.new"
      local-class="empty-state-button"
      data-test-empty-state-button
    >
      New Token
    </LinkTo>
  </div>
{{/if}}