<div local-class="me-subheading">
  <h2>API Tokens</h2>
  <div local-class="right">
    <button
      type="button"
      local-class="new-token-button"
      disabled={{this.newToken}}
      data-test-new-token-button
      {{on "click" this.startNewToken}}
    >
      New Token
    </button>
  </div>
</div>

<p>
  If you want to use package commands from the command line, you will need to
  login with <code>cargo login (token)</code> using one of the tokens listed below.
</p>
<p>
  When working in shared environments, supplying the token on the command line could
  expose it to prying eyes. To avoid this, enter <code>cargo login</code> and supply your
  token when prompted.
</p>

{{#if this.newToken}}
  <form local-class="new-token-form" {{on "submit" (prevent-default (perform this.saveTokenTask))}}>
    <Input
      @type="text"
      placeholder="New token name"
      aria-label="New token name"
      disabled={{this.newToken.isSaving}}
      @value={{this.newToken.name}}
      local-class="input"
      data-test-focused-input
      {{auto-focus}}
    />

    <div local-class="actions">
      <button
        type="submit"
        local-class="save-button"
        disabled={{or this.newToken.isSaving (not this.newToken.name)}}
        title={{unless this.newToken.name "You must specify a name"}}
        data-test-save-token-button
      >
        Create
      </button>
      {{#if this.newToken.isSaving}}
        <LoadingSpinner local-class="spinner" data-test-saving-spinner />
      {{/if}}
    </div>
  </form>
{{/if}}

<ul role="list" local-class="token-list">
  {{#each this.sortedTokens as |token|}}
    <li local-class="row" data-test-api-token={{or token.id true}}>
      <h3 local-class="name" data-test-name>
        {{token.name}}
      </h3>

      <div title={{token.last_used_at}} local-class="last-used-at" data-test-last-used-at>
        {{#if token.last_used_at}}
          Last used {{date-format-distance-to-now token.last_used_at addSuffix=true}}
        {{else}}
          Never used
        {{/if}}
      </div>

      <div title={{token.created_at}} local-class="created-at" data-test-created-at>
        Created {{date-format-distance-to-now token.created_at addSuffix=true}}
      </div>

      {{#if token.token}}
        <div local-class="new-token">
          Please record this token somewhere, you cannot retrieve
          its value again. For use on the command line you can save it to <code>~/.cargo/credentials</code>
          with:

          <div local-class="token-display">
            <span local-class="token-value" data-test-token>{{token.token}}</span>

            {{#if (is-clipboard-supported)}}
              <CopyButton @copyText={{token.token}} local-class="copy-button">
                <span local-class="copy-button-label">Copy</span>
                {{svg-jar "copy" aria-hidden="true" local-class="copy-button-icon"}}
              </CopyButton>
            {{/if}}
          </div>
        </div>
      {{/if}}

      <div local-class="actions">
        <button
          type="button"
          local-class="revoke-button"
          disabled={{token.isSaving}}
          data-test-revoke-token-button
          {{on "click" (perform this.revokeTokenTask token)}}
        >
          Revoke
        </button>
        {{#if token.isSaving}}
          <LoadingSpinner local-class="spinner" data-test-saving-spinner />
        {{/if}}
      </div>
    </li>
  {{/each}}
</ul>