<div local-class="row {{if this.token.isNew "create-token"}}" data-test-api-token={{this.token.id}}>
  <div local-class="name" data-test-name>
    {{#if this.token.isNew}}
      <Input
        @type="text"
        placeholder="New token name"
        @disabled={{this.token.isSaving}}
        @value={{this.token.name}}
        @enter={{action (perform this.saveTokenTask)}}
        data-test-focused-input
        {{auto-focus}}
      />
    {{else}}
      {{this.token.name}}
    {{/if}}
  </div>

  {{#unless this.token.isNew}}
    <div local-class='dates'>
      <span title={{this.token.created_at}} local-class="created-at" data-test-created-at>
        Created {{moment-from-now this.token.created_at}}
      </span>
      <span title={{this.token.last_used_at}} local-class="last-used-at" data-test-last-used-at>
        {{#if this.token.last_used_at}}
          Last used {{moment-from-now this.token.last_used_at}}
        {{else}}
          Never used
        {{/if}}
      </span>
    </div>
  {{/unless}}

  <div local-class='actions'>
    {{#if this.token.isNew}}
      <button
        type="button"
        local-class="save-button"
        disabled={{this.disableCreate}}
        title={{if this.emptyName "You must specify a name" ""}}
        data-test-save-token-button
        {{action (perform this.saveTokenTask)}}
      >
        Create
      </button>
    {{else}}
      <button
        type="button"
        local-class="revoke-button"
        disabled={{this.token.isSaving}}
        data-test-revoke-token-button
        {{action (perform this.revokeTokenTask)}}
      >
        Revoke
      </button>
    {{/if}}
    {{#if this.token.isSaving}}
      <LoadingSpinner local-class="spinner" data-test-saving-spinner />
    {{/if}}
  </div>
</div>

{{#if this.serverError}}
  <div local-class="row error" data-test-error>
    <div>
      {{ this.serverError }}
    </div>
  </div>
{{/if}}

{{#if this.token.token}}
  <div local-class="row new-token" data-test-token>
    <div>
      Please record this token somewhere, you cannot retrieve
      its value again. For use on the command line you can save it to <code>~/.cargo/credentials</code>
      with:

      <pre>cargo login {{this.token.token}}</pre>
    </div>
  </div>
{{/if}}
