<span class="badge" ...attributes>
  <a href="https://dev.azure.com/{{ this.project }}/_build/latest?definitionId={{ this.build }}">
    <img src="https://dev.azure.com/{{ this.project }}/_apis/build/status/{{ this.pipeline }}" alt="{{ this.text }}" title="{{ this.text }}">
  </a>
  
</span>