<span class="badge" ...attributes>
  <a href="https://gitlab.com/{{ this.repository }}/pipelines">
    <img
        src="https://gitlab.com/{{ this.repository }}/badges/{{ this.branch }}/pipeline.svg"
        alt="{{ this.text }}"
        title="{{ this.text }}">
  </a>
  
</span>