<div class="crate-toml-copy" ...attributes>
  <CopyButton @clipboardText={{this.copyText}} @success={{action "copySuccess"}} @error={{action "copyError"}} @title="Copy Cargo.toml snippet to clipboard">
    {{svg-jar "copy" alt="Copy Cargo.toml snippet to clipboard"}}
    <div class="copy-notification {{if this.showSuccess "copy-success" "copy-failure"}}">
      {{#if this.showNotification}}
        {{#if this.showSuccess}}
          Copied!
        {{else}}
          An error occured. Please use CTRL+C.
        {{/if}}
      {{/if}}
    </div>
  </CopyButton>
  
</div>