<div local-class="crate-row" data-test-crate-row ...attributes>
  <div local-class="description-box">
    <div>
      {{#let (link "crate" @crate.id) as |l|}}
        <a href={{l.url}} local-class="name" data-test-crate-link {{on "click" l.transitionTo}}>
          {{@crate.name}}
        </a>
      {{/let}}
      {{#if @crate.defaultVersion}}
        <span local-class="version" data-test-version>v{{@crate.defaultVersion}}</span>
        <CopyButton
          @copyText='{{@crate.name}} = "{{@crate.defaultVersion}}"'
          title="Copy Cargo.toml snippet to clipboard"
          local-class="copy-button"
          data-test-copy-toml-button
        >
          {{svg-jar "copy" alt="Copy Cargo.toml snippet to clipboard"}}
        </CopyButton>
      {{/if}}
    </div>
    <div local-class="description" data-test-description>
      {{ truncate-text @crate.description }}
    </div>
  </div>
  <div local-class='stats'>
    <div local-class='downloads' data-test-downloads>
      {{svg-jar "download"}}
      <span><abbr title="Total number of downloads">All-Time:</abbr> {{ format-num @crate.downloads }}</span>
    </div>
    <div local-class="recent-downloads" data-test-recent-downloads>
      {{svg-jar "download"}}
      <span><abbr title="Downloads in the last 90 days">Recent:</abbr> {{ format-num @crate.recent_downloads }}</span>
    </div>
    <div local-class="updated-at" >
      {{svg-jar "latest-updates" height="32" width="32"}}
      <span>
        <abbr title="The last time crate was updated">Updated:</abbr>
        <time title="Last updated: {{ @crate.updated_at }}" datetime="{{date-format-iso @crate.updated_at}}" data-test-updated-at>
          {{date-format-distance-to-now @crate.updated_at addSuffix=true}}
        </time>
      </span>
    </div>
  </div>
  <ul local-class="quick-links">
    {{#if @crate.homepage}}
      <li><a href="{{@crate.homepage}}">Homepage</a></li>
    {{/if}}
    {{#if @crate.documentation}}
      <li><a href="{{@crate.documentation}}">Documentation</a></li>
    {{/if}}
    {{#if @crate.repository}}
      <li><a href="{{@crate.repository}}">Repository</a></li>
    {{/if}}
  </ul>

</div>