<ul class="list">
  {{#each @crates as |crate|}}
    <li>
      <LinkTo @route="crate" @model={{crate.id}} class="link">
        {{ crate.name }} ({{ crate.max_version }})
        {{svg-jar "download-arrow" class=(scoped-class "download-icon")}}
        {{ format-num crate.downloads }}
      </LinkTo>
    </li>
  {{/each}}
</ul>
