<ul local-class="list">
  {{#each @crates as |crate|}}
    <li local-class="row">
      <LinkTo @route="crate" @model={{crate.id}} local-class="link">
        {{ crate.name }} ({{ crate.max_version }})
        {{svg-jar "download-arrow" local-class="download-icon"}}
        {{ format-num crate.downloads }}
      </LinkTo>
    </li>
  {{/each}}
</ul>
