<section
  local-class='sidebar'
  aria-label="Crate metadata"
  ...attributes
>
  <div local-class='top'>

    <div local-class="metadata">
      <h3>Metadata</h3>

      <time
        datetime={{date-format-iso @version.updated_at}}
        local-class="date"
      >
        {{svg-jar "calendar"}}
        <span>
          {{date-format-distance-to-now @version.created_at addSuffix=true}}
          <EmberTooltip @text={{date-format @version.created_at 'PPP'}} />
        </span>
      </time>

      {{#if @version.license}}
        <div local-class="license" data-test-license>
          {{svg-jar "license"}}
          <span>
            <LicenseExpression @license={{@version.license}} />
          </span>
        </div>
      {{/if}}

      {{#if @version.crate_size}}
        <div local-class="bytes">
          {{svg-jar "weight"}}
          {{pretty-bytes @version.crate_size}}
        </div>
      {{/if}}
    </div>

    <div>
      <h3>Install</h3>

      <p local-class="copy-help">Add the following line to your Cargo.toml file:</p>
      {{#if (is-clipboard-supported)}}
        <CopyButton
          @copyText={{this.tomlSnippet}}
          title="Copy Cargo.toml snippet to clipboard"
          local-class="copy-button"
        >
          <span>{{this.tomlSnippet}}</span>
          {{svg-jar "copy" aria-hidden="true" local-class="copy-icon"}}
        </CopyButton>
      {{else}}
        <code local-class="copy-fallback">
          {{this.tomlSnippet}}
        </code>
      {{/if}}
    </div>

    <div>
      {{#if this.showHomepage}}
        <CrateSidebar::Link
          @title="Homepage"
          @url={{@crate.homepage}}
          data-test-homepage-link
        />
      {{/if}}

      {{#if @version.documentationLink}}
        <CrateSidebar::Link
          @title="Documentation"
          @url={{@version.documentationLink}}
          data-test-docs-link
        />
      {{/if}}

      {{#if @crate.repository}}
        <CrateSidebar::Link
          @title="Repository"
          @url={{@crate.repository}}
          data-test-repository-link
        />
      {{/if}}
    </div>

    <div>
      <h3>Owners</h3>
      <OwnersList @owners={{@crate.owners}} />
    </div>
  </div>

  <div local-class='bottom'>
    {{#unless @crate.categories.isPending}}
      {{#if @crate.categories}}
        <div>
          <h3>Categories</h3>
          <ul local-class="categories">
            {{#each @crate.categories as |category|}}
              <li><LinkTo @route="category" @model={{category.slug}}>{{category.category}}</LinkTo></li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    {{/unless}}
  </div>

  {{#if this.playgroundLink}}
    <div>
      <a
        href={{this.playgroundLink}}
        target="_blank"
        rel="noopener noreferrer"
        local-class="playground-button"
        data-test-playground-button
      >
        Try on Rust Playground

        {{#if this.canHover}}
          <EmberTooltip @text="The top 100 crates are available on the Rust Playground for you to try out directly in your browser." />
        {{/if}}
      </a>
      {{#unless this.canHover}}
        <p local-class="playground-help" data-test-playground-help>
          The top 100 crates are available on the Rust Playground for you to
          try out directly in your browser.
        </p>
      {{/unless}}
    </div>
  {{/if}}
</section>