<section
  local-class='sidebar'
  aria-label="Crate metadata"
  ...attributes
>
  <div local-class="metadata">
    <h2 local-class="heading">Metadata</h2>

    <time
      datetime={{date-format-iso @version.created_at}}
      local-class="date"
    >
      {{svg-jar "calendar"}}
      <span>
        {{date-format-distance-to-now @version.created_at addSuffix=true}}
        <EmberTooltip @text={{date-format @version.created_at 'PPP'}} />
      </span>
    </time>

    {{#if @version.msrv}}
      <div local-class="msrv" data-test-msrv>
        {{svg-jar "rust"}}
        <span>
          v{{@version.msrv}}
          <EmberTooltip @text="Minimum Supported Rust Version" />
        </span>
      </div>
    {{/if}}

    {{#if @version.license}}
      <div local-class="license" data-test-license>
        {{svg-jar "license"}}
        <span>
          <LicenseExpression @license={{@version.license}} />
        </span>
      </div>
    {{/if}}

    {{#if @version.crate_size}}
      <div local-class="bytes">
        {{svg-jar "weight"}}
        {{pretty-bytes @version.crate_size}}
      </div>
    {{/if}}
  </div>

  {{#unless @version.yanked}}
    <div data-test-install>
      <h2 local-class="heading">Install</h2>

      <CrateSidebar::InstallInstructions
        @crate={{@crate.name}}
        @version={{@version.num}}
        @exactVersion={{@requestedVersion}}
        @hasLib={{not (@version.has_lib false)}}
        @binNames={{@version.bin_names}}
      />
    </div>
  {{/unless}}

  {{#if (or this.showHomepage @version.documentationLink @crate.repository)}}
    <div local-class="links">
      {{#if this.showHomepage}}
        <CrateSidebar::Link
          @title="Homepage"
          @url={{@crate.homepage}}
          data-test-homepage-link
        />
      {{/if}}

      {{#if @version.documentationLink}}
        <CrateSidebar::Link
          @title="Documentation"
          @url={{@version.documentationLink}}
          data-test-docs-link
        />
      {{/if}}

      {{#if @crate.repository}}
        <CrateSidebar::Link
          @title="Repository"
          @url={{@crate.repository}}
          data-test-repository-link
        />
      {{/if}}
    </div>
  {{/if}}

  <div>
    <h2 local-class="heading">Owners</h2>
    <OwnersList @owners={{@crate.owners}} />
  </div>

  {{#unless @crate.categories.isPending}}
    {{#if @crate.categories}}
      <div>
        <h2 local-class="heading">Categories</h2>
        <ul local-class="categories">
          {{#each @crate.categories as |category|}}
            <li>
              <LinkTo @route="category" @model={{category.slug}}>{{category.category}}</LinkTo>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  {{/unless}}

  {{#if this.playgroundLink}}
    <div>
      <a
        href={{this.playgroundLink}}
        target="_blank"
        rel="noopener noreferrer"
        local-class="playground-button"
        data-test-playground-button
      >
        Try on Rust Playground

        {{#if this.canHover}}
          <EmberTooltip
            @text="The top 100 crates are available on the Rust Playground for you to try out directly in your browser." />
        {{/if}}
      </a>
      {{#unless this.canHover}}
        <p local-class="playground-help" data-test-playground-help>
          The top 100 crates are available on the Rust Playground for you to
          try out directly in your browser.
        </p>
      {{/unless}}
    </div>
  {{/if}}
</section>