<ul local-class="list">
  {{#each @crates as |crate|}}
    <li local-class="row">
      <LinkTo @route="crate" @model={{crate.id}} local-class="link">
        {{ crate.name }} ({{ crate.max_version }})
        <div>
          {{svg-jar "download-clear-back" local-class="download-icon"}}
          {{ format-num crate.downloads }}
        </div>
      </LinkTo>
    </li>
  {{/each}}
</ul>
