<div
  local-class="wrapper"
  data-test-download-graph
  ...attributes
  {{did-insert this.loadChartJs}}
>
  {{#if this.chartjs.loadTask.isRunning}}
    <LoadingSpinner local-class="spinner" data-test-spinner />
  {{else if this.chartjs.loadTask.lastSuccessful.value}}
    <canvas
      {{did-insert this.createChart}}
      {{did-update this.updateChart @data}}
      {{will-destroy this.destroyChart}}
    />
  {{else}}
    <div local-class="error" data-test-error>
      <p>Sorry, there was a problem loading the graphing code.</p>
      <button
        type="button"
        data-test-reload
        {{on "click" this.reloadPage}}
      >
        Try again
      </button>
    </div>
  {{/if}}
</div>