<div ...attributes>
  {{#if this.email.id }}
  <div local-class="row">
    <div local-class="email-column" data-test-email-address>
      <dd>
        {{ this.email.email }}
        <span class="badges">
          {{#if this.email.verified}}
          <span local-class="badge verified" data-test-verified>Verified</span>
          {{#if this.email.send_notifications }}
            <span local-class="badge">Notifications are sent here</span>
          {{/if}}
          {{else}}
            {{#if this.email.verification_email_sent}}
            <span local-class="badge pending-verification" data-test-verification-sent>Unverified - email sent</span>
            {{else}}
            <span local-class="badge unverified" data-test-verification-not-sent>Unverified</span>
            {{/if}}
          {{/if}}
        </span>
      </dd>
    </div>
    <div local-class="actions">
      {{#unless this.email.verified}}
      <button type="button" class="button button--small" disabled={{this.disableResend}} data-test-resend-button
        {{on "click" (perform this.resendEmailTask)}}>
        {{#if this.disableResend}}
        Sent!
        {{else if this.email.verification_email_sent}}
        Resend
        {{else}}
        Verify
        {{/if}}
      </button>
      {{/unless}}
      {{#if (and (not this.email.send_notifications) this.email.verified)}}
      <button type="button" class="button button--small" data-test-edit-button {{on "click" (prevent-default (perform this.enableNotificationsTask))}}>
        Enable notifications
      </button>
      {{/if}}
      {{#if @canDelete}}
      <button disabled={{this.email.send_notifications}} title={{if this.email.send_notifications "Cannot delete notifications email"}} type="button" class="button button--small button--red" data-test-edit-button {{on "click" (prevent-default (perform this.deleteEmailTask))}}>
        Remove
      </button>
      {{/if}}
    </div>
  </div>
  {{else}}
  <div local-class="row">
    <form local-class="email-form" {{on "submit" (prevent-default (perform this.saveEmailTask))}}>
      <Input @type="email" @value={{this.value}} id="email-input" placeholder="Email" local-class="input"
        data-test-input {{autofocus}} oninput={{this.validate}} />

      <div local-class="actions">
        <button type='submit' local-class="save-button" class="button button--small" disabled={{not this.isValid}}
          data-test-save-button>
          Verify
        </button>
      </div>
    </form>
  </div>
  {{/if}}

</div>
