<li ...attributes>
  <Input
    @type="checkbox"
    @name={{this.controlId}}
    @id={{this.controlId}}
    @checked={{this.emailNotifications}}
    @change={{action "toggleEmailNotifications"}}
    class="form-control"
  />
  <label for="{{ this.controlId }}">
    {{ this.name }}
  </label>
  
</li>