<ul local-class='owners' data-test-owners>
  {{#each @teams as |team|}}
    <li>
      <LinkTo @route={{team.kind}} @model={{team.login}} data-test-team-link={{team.login}}>
        <UserAvatar @user={{team}} @size="medium-small" />
      </LinkTo>
    </li>
  {{/each}}

  {{#each @users as |user|}}
    <li>
      <LinkTo @route={{user.kind}} @model={{user.login}} data-test-user-link={{user.login}}>
        <UserAvatar @user={{user}} @size="medium-small" />
      </LinkTo>
    </li>
  {{/each}}
</ul>