<li local-class="row" data-test-owned-crate={{this.name}} ...attributes>
  <Input
    @type="checkbox"
    @name={{this.controlId}}
    id={{this.controlId}}
    @checked={{@ownedCrate.email_notifications}}
    @change={{this.setEmailNotifications}}
    local-class="input"
  />
  <label for="{{ this.controlId }}" local-class="label">
    {{ this.name }}
  </label>
</li>