<div local-class="header" data-test-page-header ...attributes>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <h1 local-class="heading">
      {{svg-jar (or @icon "crate") local-class="icon"}}
      {{@title}}
      {{#if @suffix}}
        <small local-class="suffix">{{@suffix}}</small>
      {{/if}}
      {{#if @showSpinner}}
        <LoadingSpinner local-class="loading-spinner" data-test-spinner />
      {{/if}}
    </h1>
  {{/if}}
</div>