{{#if this.isAccepted }}
  <p data-test-accepted-message ...attributes>
    Success! You've been added as an owner of crate
    <LinkTo @route="crate" @model={{@invite.crate_name}}>{{@invite.crate_name}}</LinkTo>.
  </p>
{{else if this.isDeclined}}
  <p data-test-declined-message ...attributes>
    Declined. You have not been added as an owner of crate
    <LinkTo @route="crate" @model={{@invite.crate_name}}>{{@invite.crate_name}}</LinkTo>.
  </p>
{{else}}
  <div local-class="row" ...attributes>
    <div local-class="crate-column">
      <h3>
        <LinkTo @route="crate" @model={{@invite.crate_name}} data-test-crate-link>
          {{@invite.crate_name}}
        </LinkTo>
      </h3>
    </div>
    <div>
      <p>
        Invited by:
        <LinkTo @route="user" @model={{@invite.invited_by_username}} data-test-inviter-link>
          {{@invite.invited_by_username}}
        </LinkTo>
      </p>
    </div>
    <div local-class="date-column" data-test-date>
      {{date-format-distance-to-now @invite.created_at addSuffix=true}}
    </div>
    <div>
      <button type="button" local-class="accept-button" data-test-accept-button {{on "click" (perform this.acceptInvitationTask)}}>Accept</button>
      <button type="button" local-class="decline-button" data-test-decline-button {{on "click" (perform this.declineInvitationTask)}}>Decline</button>
    </div>
  </div>
{{/if}}