{{#if this.isPrivileged}}
  <div>
    {{yield}}
  </div>
{{else if this.canBePrivileged}}
  {{#if (has-block 'placeholder')}}
    <div>
      {{yield to='placeholder'}}
    </div>
  {{else}}
    <div local-class='placeholder'>
      <fieldset data-test-placeholder-fieldset disabled="disabled">
        {{yield}}
      </fieldset>
      <Tooltip>
        You must enable admin actions before you can perform this operation.
      </Tooltip>
    </div>
  {{/if}}
{{else}}
  <div>
    {{#if (has-block 'unprivileged')}}
      {{yield to='unprivileged'}}
    {{/if}}
  </div>
{{/if}}