<div ...attributes>
  <h2 class="title" data-test-title>{{@title}}</h2>
  <div class="content">
    {{#if this.isDocsRs}}
      {{svg-jar "docs-rs" class=(scoped-class "icon") data-test-icon="docs-rs"}}
    {{else if this.isGitHub}}
      {{svg-jar "github" class=(scoped-class "icon") data-test-icon="github"}}
    {{else}}
      {{svg-jar "link" class=(scoped-class "icon") data-test-icon="link"}}
    {{/if}}

    <a href={{@url}} class="link" data-test-link>
      {{this.text}}
    </a>
  </div>
</div>