{{page-title 'Manage Crate Settings'}}

<CrateHeader @crate={{this.crate}} />

<div local-class="header">
  <h2>Owners</h2>
  {{#unless this.addOwnerVisible}}
    <button type="button" class="button button--small" data-test-add-owner-button {{on "click" this.showAddOwnerForm}}>Add Owner</button>
  {{/unless}}
</div>

{{#if this.addOwnerVisible}}
  <form local-class="email-form" {{on "submit" (prevent-default (perform this.addOwnerTask))}}>
    <label local-class="email-input-label" for='new-owner-username'>
      Username
    </label>
    <Input @type="text" id="new-owner-username" @value={{this.username}} placeholder="Username" local-class="email-input" name="username" />
    <button type="submit" disabled={{not this.username}} class="button button--small" data-test-save-button>Add</button>
  </form>
{{/if}}

<div local-class='list' data-test-owners>
  {{#each this.crate.owner_team as |team|}}
    <div local-class='row' data-test-owner-team={{team.login}}>
      <LinkTo @route={{team.kind}} @model={{team.login}}>
        <UserAvatar @user={{team}} @size="medium-small" />
      </LinkTo>
      <LinkTo @route={{team.kind}} @model={{team.login}}>
        {{team.display_name}}
      </LinkTo>
      <div local-class="email-column">
        {{team.email}}
      </div>
      <button type="button" class="button button--small" data-test-remove-owner-button {{on "click" (perform this.removeOwnerTask team)}}>Remove</button>
    </div>
  {{/each}}
  {{#each this.crate.owner_user as |user|}}
    <div local-class='row' data-test-owner-user={{user.login}}>
      <LinkTo @route={{user.kind}} @model={{user.login}}>
        <UserAvatar @user={{user}} @size="medium-small" />
      </LinkTo>
      <LinkTo @route={{user.kind}} @model={{user.login}}>
        {{#if user.name}}
          {{user.name}}
        {{else}}
          {{user.login}}
        {{/if}}
      </LinkTo>
      <div local-class="email-column">
        {{user.email}}
      </div>
      <button type="button" class="button button--small" data-test-remove-owner-button {{on "click" (perform this.removeOwnerTask user)}}>Remove</button>
    </div>
  {{/each}}
</div>

{{! The "Trusted Publishing" section is hidden for now until we make this feature publicly available. }}
{{#if this.githubConfigs}}
  <div local-class="header">
    <h2>Trusted Publishing</h2>
    <div>
      <LinkTo @route="docs.trusted-publishing" class="button button--tan button--small" data-test-trusted-publishing-docs-button>
        Learn more
      </LinkTo>
      <LinkTo @route="crate.settings.new-trusted-publisher" class="button button--small" data-test-add-trusted-publisher-button>
        Add
      </LinkTo>
    </div>
  </div>

  <table local-class="trustpub" data-test-trusted-publishing>
    <thead>
    <tr>
      <th>Publisher</th>
      <th>Details</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each this.githubConfigs as |config|}}
      <tr data-test-github-config={{config.id}}>
        <td>GitHub</td>
        <td local-class="details">
          <strong>Repository:</strong> {{config.repository_owner}}/{{config.repository_name}}<br>
          <strong>Workflow:</strong> {{config.workflow_filename}}<br>
          {{#if config.environment}}
            <strong>Environment:</strong> {{config.environment}}
          {{/if}}
        </td>
        <td local-class="actions">
          <button type="button" class="button button--small" data-test-remove-config-button {{on "click" (perform this.removeConfigTask config)}}>Remove</button>
        </td>
      </tr>
    {{else}}
      <tr data-test-no-config>
        <td colspan="3">No trusted publishers configured for this crate.</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{/if}}

<h2 local-class="header">Danger Zone</h2>

<div>
  <LinkTo @route="crate.delete" class="button button--red" data-test-delete-button>
    Delete this crate
  </LinkTo>
</div>
