<h2>New API Token</h2>

<form local-class="form" {{on "submit" (prevent-default (perform this.saveTokenTask))}}>
  <div local-class="form-group" data-test-name-group>
    {{#let (unique-id) as |id|}}
      <label for={{id}} class="form-group-name">Name</label>

      <Input
        id={{id}}
        @type="text"
        @value={{this.name}}
        disabled={{this.saveTokenTask.isRunning}}
        autocomplete="off"
        aria-required="true"
        aria-invalid={{if this.nameInvalid "true" "false"}}
        local-class="name-input"
        class="base-input"
        data-test-name
        {{auto-focus}}
        {{on "input" this.resetNameValidation}}
      />

      {{#if this.nameInvalid}}
        <div class="form-group-error" data-test-error>
          Please enter a name for this token.
        </div>
      {{/if}}
    {{/let}}
  </div>

  <div local-class="form-group" data-test-expiry-group>
    {{#let (unique-id) as |id|}}
      <label for={{id}} class="form-group-name">Expiration</label>
    {{/let}}

    <div local-class="select-group">
      {{#let (unique-id) as |id|}}
        <select
          id={{id}}
          disabled={{this.saveTokenTask.isRunning}}
          local-class="expiry-select"
          class="base-input"
          data-test-expiry
          {{on "change" this.updateExpirySelection}}
        >
          <option value="none">No expiration</option>
          <option value="7">7 days</option>
          <option value="30">30 days</option>
          <option value="60">60 days</option>
          <option value="90" selected>90 days</option>
          <option value="365">365 days</option>
          <option value="custom">Custom...</option>
        </select>
      {{/let}}

      {{#if (eq this.expirySelection "custom")}}
        <Input
          @type="date"
          @value={{this.expiryDateInput}}
          min={{this.today}}
          disabled={{this.saveTokenTask.isRunning}}
          aria-invalid={{if this.expiryDateInvalid "true" "false"}}
          aria-label="Custom expiration date"
          local-class="expiry-date-input"
          class="base-input"
          data-test-expiry-date
          {{on "input" this.resetExpiryDateValidation}}
        />
      {{else}}
        <span local-class="expiry-description" data-test-expiry-description>
          {{this.expiryDescription}}
        </span>
      {{/if}}
    </div>
  </div>

  <div local-class="form-group" data-test-scopes-group>
    <div class="form-group-name">
      Scopes

      <a
        href="https://rust-lang.github.io/rfcs/2947-crates-io-token-scopes.html"
        target="_blank"
        rel="noopener noreferrer"
        local-class="help-link"
      >
        <span class="sr-only">Help</span>
        {{svg-jar "circle-question"}}
      </a>
    </div>

    <ul role="list" class="scopes-list {{if this.scopesInvalid "invalid"}}">
      {{#each this.ENDPOINT_SCOPES as |scope|}}
        <li>
          <label data-test-scope={{scope}}>
            <Input
              @type="checkbox"
              @checked={{this.isScopeSelected scope}}
              disabled={{this.saveTokenTask.isRunning}}
              {{on "change" (fn this.toggleScope scope)}}
            />

            <span local-class="scope-id">{{scope}}</span>
            <span local-class="scope-description">{{this.scopeDescription scope}}</span>
          </label>
        </li>
      {{/each}}
    </ul>

    {{#if this.scopesInvalid}}
      <div class="form-group-error" data-test-error>
        Please select at least one token scope.
      </div>
    {{/if}}
  </div>

  <div local-class="form-group" data-test-scopes-group>
    <div class="form-group-name">
      Crates

      <a
        href="https://rust-lang.github.io/rfcs/2947-crates-io-token-scopes.html"
        target="_blank"
        rel="noopener noreferrer"
        local-class="help-link"
      >
        <span class="sr-only">Help</span>
        {{svg-jar "circle-question"}}
      </a>
    </div>

    <ul role="list" local-class="crates-list">
      {{#each this.crateScopes as |pattern index|}}
        <li
          local-class="crates-scope {{if pattern.showAsInvalid "invalid"}}"
          data-test-crate-pattern={{index}}
        >
          <div>
            <Input
              @value={{pattern.pattern}}
              aria-label="Crate name pattern"
              {{on "input" pattern.resetValidation}}
              {{on "blur" pattern.validate}}
            />

            <span local-class="pattern-description" data-test-description>
              {{pattern.description}}
            </span>
          </div>

          <button
            type="button"
            data-test-remove
            {{on "click" (fn this.removeCrateScope index)}}
          >
            <span class="sr-only">Remove pattern</span>
            {{svg-jar "trash"}}
          </button>
        </li>
      {{else}}
        <li local-class="crates-unrestricted" data-test-crates-unrestricted>
          <strong>Unrestricted</strong> – This token can be used for all of your crates.
        </li>
      {{/each}}

      <li local-class="crates-pattern-button">
        <button
          type="button"
          data-test-add-crate-pattern
          {{on "click" (fn this.addCratePattern "")}}
        >
          Add pattern
        </button>
      </li>
    </ul>
  </div>

  <div local-class="buttons">
    <button
      type="submit"
      local-class="generate-button"
      class="button button--small"
      disabled={{this.saveTokenTask.isRunning}}
      data-test-generate
    >
      Generate Token

      {{#if this.saveTokenTask.isRunning}}
        <LoadingSpinner @theme="light" local-class="spinner" data-test-spinner />
      {{/if}}
    </button>

    <LinkTo
      @route="settings.tokens.index"
      local-class="cancel-button"
      class="button button--tan button--small"
      data-test-cancel
    >
      Cancel
    </LinkTo>
  </div>

</form>
