{{page-title this.category.category ' - Categories'}}

<PageHeader local-class="header">
  <LinkTo @route="categories" aria-label="Categories">{{svg-jar "crate"}}</LinkTo>
  <h1>
    {{#each this.category.parent_categories as |parent|}}<LinkTo @route="category" @model={{parent.slug}}>{{parent.category}}</LinkTo>::{{/each}}
    {{~ this.category.category }}
  </h1>
</PageHeader>

<div>
  <p>{{ this.category.description }}</p>
</div>

{{#if this.category.subcategories }}
  <div>
    <h2>Subcategories</h2>
    <div local-class="subcategories">
      {{#each this.category.subcategories as |subcategory| }}
        <div local-class="subcategory">
          <div>
            <LinkTo @route="category" @model={{subcategory.slug}}>{{subcategory.category}}</LinkTo>
            <span local-class="crate-count">
              {{format-num subcategory.crates_cnt}} {{if (eq subcategory.crates_cnt 1) "crate" "crates"}}
            </span>
          </div>
          <div local-class="category-description">
            {{ subcategory.description }}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}

<h2>Crates</h2>
<div local-class="results-meta">
  <ResultsCount
    @start={{this.pagination.currentPageStart}}
    @end={{this.pagination.currentPageEnd}}
    @total={{this.totalItems}}
    data-test-category-nav
  />

  <div data-test-category-sort>
    <span local-class="sort-by-label">Sort by</span>
    <SortDropdown @current={{this.currentSortBy}} as |sd|>
      <sd.Option @query={{hash sort="alpha"}}>Alphabetical</sd.Option>
      <sd.Option @query={{hash sort="downloads"}}>All-Time Downloads</sd.Option>
      <sd.Option @query={{hash sort="recent-downloads"}}>Recent Downloads</sd.Option>
      <sd.Option @query={{hash sort="recent-updates"}}>Recent Updates</sd.Option>
      <sd.Option @query={{hash sort="new"}}>Newly Added</sd.Option>
    </SortDropdown>
  </div>
</div>

<CrateList @crates={{this.model}} local-class="list" />

<Pagination @pagination={{this.pagination}} />
