{{ title category.category ' - Categories' }}

<div id='crates-heading'>
    {{#link-to "categories" (html-attributes aria-label="Categories")}}{{svg-jar "crate"}}{{/link-to}}
    <h1>
        {{#each category.parent_categories as |parent|}}{{link-to parent.category "category" parent.slug}}::{{/each}}
        {{~ category.category }}
    </h1>
</div>

<div>
    <p>{{ category.description }}</p>
</div>

{{#if category.subcategories }}
  <div id='subcategories'>
      <h2>Subcategories</h2>
      <div class='white-rows'>
          {{#each category.subcategories as |subcategory| }}
              <div class='row'>
                  <div class='desc'>
                      <div class='info'>
                          {{link-to subcategory.category "category" subcategory.slug}}
                          <span class='small'>
                              {{ pluralize (format-num subcategory.crates_cnt) "crate" }}
                          </span>
                      </div>
                      <div class='summary'>
                          <span class='small'>
                              {{ subcategory.description }}
                          </span>
                      </div>
                  </div>
              </div>
          {{/each}}
      </div>
  </div>
{{/if}}

<h2>Crates</h2>
<div id='results'>
    <div class='nav' data-test-category-nav>
        <span class='amt small'>
            Displaying
            <span class='cur'>{{ currentPageStart }}-{{ currentPageEnd }}</span>
            of <span class='total'>{{ totalItems }}</span> total results
        </span>
    </div>

    <div class='sort' data-test-category-sort>
        <span class='small'>Sort by</span>
        {{#rl-dropdown-container class="dropdown-container"}}
            {{#rl-dropdown-toggle tagName="a" class="dropdown" data-test-current-order=true}}
                {{svg-jar "sort"}}
                {{ currentSortBy }}
                <span class='arrow'></span>
            {{/rl-dropdown-toggle}}

            {{#rl-dropdown tagName="ul" class="dropdown" closeOnChildClick="a:link"}}
                <li>
                    {{#link-to (query-params sort="alpha")}}
                        Alphabetical
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to (query-params sort="downloads")}}
                        All-Time Downloads
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to (query-params sort="recent-downloads")}}
                        Recent Downloads
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to (query-params sort="recent-updates")}}
                        Recent Updates
                    {{/link-to}}
                </li>
            {{/rl-dropdown}}
        {{/rl-dropdown-container}}
    </div>
</div>

<div id='crates' class='white-rows'>
    {{#each model as |crate|}}
        {{crate-row crate=crate}}
    {{/each}}
</div>

<div class='pagination'>
    {{#link-to (query-params page=prevPage) class="prev" rel="prev" title="previous page"}}
        {{svg-jar "left-pag"}}
    {{/link-to}}
    {{#each pages as |page|}}
        {{#link-to (query-params page=page)}}{{ page }}{{/link-to}}
    {{/each}}
    {{#link-to (query-params page=nextPage) class="next" rel="next" title="next page"}}
        {{svg-jar "right-pag"}}
    {{/link-to}}
</div>
