{{ title this.category.category ' - Categories' }}

<div class="crates-heading">
  <LinkTo @route="categories" aria-label="Categories">{{svg-jar "crate"}}</LinkTo>
  <h1>
    {{#each this.category.parent_categories as |parent|}}<LinkTo @route="category" @model={{parent.slug}}>{{parent.category}}</LinkTo>::{{/each}}
    {{~ this.category.category }}
  </h1>
</div>

<div>
  <p>{{ this.category.description }}</p>
</div>

{{#if this.category.subcategories }}
  <div id='subcategories'>
    <h2>Subcategories</h2>
    <div local-class="subcategories">
      {{#each this.category.subcategories as |subcategory| }}
        <div local-class="subcategory">
          <div>
            <LinkTo @route="category" @model={{subcategory.slug}}>{{subcategory.category}}</LinkTo>
            <span local-class="crate-count">
              {{ pluralize (format-num subcategory.crates_cnt) "crate" }}
            </span>
          </div>
          <div local-class="category-description">
            {{ subcategory.description }}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}

<h2>Crates</h2>
<div id='results'>
  <ResultsCount
    @start={{this.currentPageStart}}
    @end={{this.currentPageEnd}}
    @total={{this.totalItems}}
    data-test-category-nav
  />

  <div data-test-category-sort>
    <span class='small'>Sort by</span>
    <Dropdown as |dd|>
      <dd.Trigger class="dropdown-button" data-test-current-order>
        {{svg-jar "sort"}}
        {{ this.currentSortBy }}
      </dd.Trigger>

      <dd.Menu as |menu|>
        <menu.Item>
          <LinkTo @query={{hash sort="alpha"}}>
            Alphabetical
          </LinkTo>
        </menu.Item>
        <menu.Item>
          <LinkTo @query={{hash sort="downloads"}}>
            All-Time Downloads
          </LinkTo>
        </menu.Item>
        <menu.Item>
          <LinkTo @query={{hash sort="recent-downloads"}}>
            Recent Downloads
          </LinkTo>
        </menu.Item>
        <menu.Item>
          <LinkTo @query={{hash sort="recent-updates"}}>
            Recent Updates
          </LinkTo>
        </menu.Item>
        <menu.Item>
          <LinkTo @query={{hash sort="new"}}>
            Newly Added
          </LinkTo>
        </menu.Item>
      </dd.Menu>
    </Dropdown>
  </div>
</div>

<div local-class="list">
  {{#each this.model as |crate|}}
    <CrateRow @crate={{crate}} local-class="row" />
  {{/each}}
</div>

<Pagination @pages={{this.pages}} @prevPage={{this.prevPage}} @nextPage={{this.nextPage}} />
