<div
  local-class="
    row
    {{if @dependency.optional "optional"}}
    {{if this.focused "focused"}}
  "
  data-test-dependency={{@dependency.crate_id}}
  ...attributes
>
  <span local-class="range-lg" data-test-range>
    {{format-req @dependency.req}}
  </span>

  <div local-class="right">
    <div local-class="name-and-metadata">
      <span local-class="range-sm">
        {{format-req @dependency.req}}
      </span>

      <LinkTo
        @route="crate.range"
        @models={{array @dependency.crate_id @dependency.req}}
        local-class="link"
        {{on "focusin" (fn this.setFocused true)}}
        {{on "focusout" (fn this.setFocused false)}}
        data-test-crate-name
      >
        {{@dependency.crate_id}}
      </LinkTo>

      <span local-class="metadata" data-test-metadata>
        {{#if @dependency.optional}}
          optional
        {{/if}}
      </span>
    </div>

    {{#if (or (not @dependency.default_features) @dependency.features)}}
      <div local-class="features" data-test-features>
        {{#unless @dependency.default_features}}
        default-features=false
        {{/unless}}
        {{#if @dependency.features}}
        features={{@dependency.features}}
        {{/if}}
      </div>
    {{/if}}

    {{#if (or this.description this.loadCrateTask.isRunning)}}
      <div local-class="description" data-test-description>
        {{#if this.loadCrateTask.isRunning}}
          <Placeholder local-class="description-placeholder" data-test-placeholder />
        {{else}}
          {{this.description}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>