<dl>
  <dt>Name</dt>
  <dd>{{name}}</dd>
  <dt>Downloads</dt>
  <dd>{{downloads}}</dd>
</dl>

<iframe id='download-frame' style='display:none'></iframe>

<table>
  <tr>
    <th>Version</th>
    <th>Downloads</th>
    <th>&nbsp;</th>
  </tr>
  {{#each versions}}
    <tr>
      <td>{{num}}</td>
      <td>{{downloads}}</td>
      <td><a download
             {{action 'download' this}}
             {{bind-attr href="dl_path"}}>
        {{dl_path}}
      </a></td>
    </tr>
  {{/each}}
</table>

{{#if session.isLoggedIn}}
  {{#link-to "crate.edit" this}}[edit]{{/link-to}}
{{/if}}
