<div id='crates-heading'>
    <div class='info'>
        <img class='logo' src="/assets/crate.png"/>
        <h1>{{ model.name }}</h1>
        <h2>{{ currentVersion.num }}</h2>
    </div>

    <div class='right'>
        {{#if session.currentUser}}
            <button class='tan-button' {{action 'toggleFollow' this}}>
                {{#if fetchingFollowing}}
                    <img src="/assets/ajax-loader.gif"/>
                {{else}}
                    {{#if following}}
                        Unfollow
                    {{else}}
                        Follow
                    {{/if}}
                {{/if}}
            </button>
        {{/if}}
        {{!--
            <a class='yellow-button' download
               {{action 'download' currentVersion}}
               href='{{currentVersion.dl_path}}'>
                <img src="/assets/button-download.png"/>
                Download
            </a>
        --}}
    </div>
</div>

{{! This is used to set the url of to actually download a file }}
<iframe id='download-frame' style='display:none'></iframe>

{{#if currentVersion.yanked}}
    <div class='crate-info'>
        This crate has been yanked, but it is still available for download for
        other crates that may be depending on it.
    </div>
{{else}}
<div class='crate-info'>
    <div class='docs'>
        {{#if model.description}}
            <div class='about'>
                <h3>About This Package</h3>
                <p>{{ model.description }}</p>
            </div>
        {{/if}}
        <div class='install'>
            <div class='action'>Cargo.toml</div>
            <code>{{ model.name }} = "{{ currentVersion.num }}"</code>
        </div>
    </div>
    <div class='authorship'>
        <div class='top'>
            <div>
                <div class='last-update'><span class='small'>Last Updated</span></div>
                <div class='date'>{{ from-now model.updated_at }}</div>
            </div>

            <div class="authors">
                <h3>Authors</h3>
                <ul>
                    {{#each displayedAuthors as |author|}}
                        <li>{{ format-email author.name }}</li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class='bottom'>
            {{#if model.license}}
                <div>
                    <h3>License</h3>
                    <p>{{ model.license }}</p>
                </div>
            {{/if}}

            {{#unless model.crate.keywords.isPending}}
                {{#if anyKeywords}}
                    <div>
                        <h3>Keywords</h3>
                        <ul class='keywords'>
                            {{#each keywords as |keyword|}}
                                <li>{{link-to keyword 'keyword' keyword}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            {{/unless}}

            <div>
                <h3>Owners</h3>
                <ul class='owners'>
                    {{#each model.owners as |owner|}}
                        <li>
                          {{#user-link user=owner}}
                            {{user-avatar user=owner size='medium-small'}}
                          {{/user-link}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<div id='crate-links'>
    {{#if anyLinks}}
        <div class='section'>
          <h3>Links</h3>
          <ul>
            {{#if model.homepage}}
                <li><a href="{{model.homepage}}">Homepage</a></li>
            {{/if}}
            {{#if model.wiki}}
                <li><a href="{{model.wiki}}">Wiki</a></li>
            {{/if}}
            {{#if model.mailing_list}}
                <li><a href="{{model.mailing_list}}">Mailing list</a></li>
            {{/if}}
            {{#if model.documentation}}
                <li><a href="{{model.documentation}}">Documentation</a></li>
            {{/if}}
            {{#if model.repository}}
                <li><a href="{{model.repository}}">Repository</a></li>
            {{/if}}
          </ul>
        </div>
    {{/if}}

  <div class='section' id='crate-dependencies'>
    <h3>Dependencies</h3>
    <ul>
      {{#each currentDependencies as |dep|}}
        {{link-to-dep dep=dep}}
      {{else}}
          <li>None</li>
      {{/each}}
    </ul>
  </div>

  {{#if currentDevDependencies}}
    <div class='section' id='crate-dev-dependencies'>
      <h3>Dev-Dependencies</h3>
      <ul>
        {{#each currentDevDependencies as |dep|}}
            {{link-to-dep dep=dep}}
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <div class='section' id='crate-versions'>
    <h3>Versions</h3>
    <ul>
      {{#each smallSortedVersions as |version|}}
      <li>
        {{#link-to 'crate' version}}
            {{ version.num }}
        {{/link-to}}
        <span class='date'>{{ date-small version.created_at }}</span>
        {{#if model.yanked}}
            <span class='yanked'>yanked</span>
        {{/if}}
      </li>
      {{/each}}
    </ul>
    <span class='small'>
      {{#if hasMoreVersions}}
      {{#link-to 'crate.versions' this}}
          show all {{ model.versions.length }} versions
      {{/link-to}}
      {{/if}}
    </span>
  </div>
</div>

<div id='crate-downloads'>
    <div class='stats'>
        <h3>Stats Overview</h3>
        <div class='stat'>
            <span class='num'>
                <img src="/assets/download.png"/>
                {{#if requestedVersion}}
                    {{ format-num currentVersion.downloads }}
                {{else}}
                    {{ format-num model.downloads }}
                {{/if}}
            </span>
            <span class='desc small'>Downloads all time</span>
        </div>
        <div class='stat'>
            <span class="{{if crate.versions.isPending 'loading'}} num">
                <img src="/assets/package.png"/>
                {{ model.versions.length }}
            </span>
            <span class='desc small'>Versions published</span>
        </div>
    </div>

    <div class='versions'>
        <span class='small'>Showing stats for</span>
        <div class='button-holder'>
            <button {{action 'toggleVersions'}}
                    class="{{if showAllVersions 'active'}} dropdown">
                {{#if requestedVersion}}
                    {{ requestedVersion }}
                {{else}}
                    All Versions
                {{/if}}
                <span class='arrow'></span>
            </button>

            <ul id='all-versions' class="{{if showAllVersions 'open'}} dropdown">
                <li class='all'>
                    {{#link-to 'crate.index' this}}All Versions{{/link-to}}
                </li>
                {{#each smallSortedVersions as |version|}}
                    <li>
                        {{#link-to 'crate.index' version}}
                            {{ version.num }}
                        {{/link-to}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class='graph'>
        <h4>Downloads over the last 90 days</h4>
        <div id='graph-data'></div>
    </div>
</div>
{{/if}}
