<div local-class="back-link">
  <LinkTo @route="crate" @model={{this.crate.id}}>&#11013; Back to {{ this.crate.name }}</LinkTo>
</div>

<div local-class="results-meta">
  <ResultsCount
    @start={{this.pagination.currentPageStart}}
    @end={{this.pagination.currentPageEnd}}
    @total={{this.totalItems}}
    @name="reverse dependencies of {{this.crate.name}}"
  />
</div>

<div local-class="list">
  {{#each this.model as |dependency|}}
    <div local-class="row">
      <div>
        <LinkTo @route="crate" @model={{dependency.version.crateName}}>{{dependency.version.crateName}}</LinkTo> requires {{dependency.req}}
      </div>
      <div local-class="stats downloads">
        {{svg-jar "download-clear-back" local-class="download-icon"}}
        <span local-class="rev-dep-downloads">{{ format-num dependency.downloads }}</span>
      </div>
    </div>
  {{/each}}
</div>

<Pagination @pagination={{this.pagination}} />