<div class='all-versions-back'>
    {{#link-to 'crate' crate.id}}&#11013; Back to {{ crate.name }}{{/link-to}}
</div>

<div id='results'>
    <div class='nav'>
        <span class='amt'>
            Displaying
            <span class='cur'>{{ currentPageStart }}-{{ currentPageEnd }}</span>
            of <span class='total'>{{ totalItems }}</span> reverse dependencies
            of <span class='num'>{{ crate.name }}</span>
        </span>
    </div>
</div>

<div class='white-rows'>
    {{#each model as |dependency|}}
        <div class='crate row'>
            <div>
            {{#link-to 'crate' dependency.version.crateName}}{{dependency.version.crateName}}{{/link-to}} requires {{dependency.req}}
            </div>
            <div class='stats downloads'>
                {{svg-jar "download-clear-back"}}
                <span class='num rev-dep-downloads'>{{ format-num dependency.downloads }}</span>
            </div>
        </div>
    {{/each}}
</div>

<div class='pagination'>
    {{#link-to (query-params page=prevPage) class='prev'}}
        {{svg-jar "left-pag"}}
    {{/link-to}}
    {{#each pages as |page|}}
        {{#link-to (query-params page=page)}}
            {{ page }}
        {{/link-to}}
    {{/each}}
    {{#link-to (query-params page=nextPage) class='next'}}
        {{svg-jar "right-pag"}}
    {{/link-to}}
</div>
