<div class='all-versions-back'>
  <LinkTo @route="crate" @model={{crate.id}}>&#11013; Back to {{ crate.name }}</LinkTo>
</div>

<div id='results'>
  <div class='nav'>
    <span class='amt'>
      Displaying
      <span class='cur'>{{ currentPageStart }}-{{ currentPageEnd }}</span>
      of <span class='total'>{{ totalItems }}</span> reverse dependencies
      of <span class='num'>{{ crate.name }}</span>
    </span>
  </div>
</div>

<div class='white-rows'>
  {{#each model as |dependency|}}
    <div class='crate row'>
      <div>
        <LinkTo @route="crate" @model={{dependency.version.crateName}}>{{dependency.version.crateName}}</LinkTo> requires {{dependency.req}}
      </div>
      <div class='stats downloads'>
        {{svg-jar "download-clear-back"}}
        <span class='num rev-dep-downloads'>{{ format-num dependency.downloads }}</span>
      </div>
    </div>
  {{/each}}
</div>

<div class='pagination'>
  <LinkTo @query={{hash page=prevPage}} class="prev">
    {{svg-jar "left-pag"}}
  </LinkTo>
  {{#each pages as |page|}}
    <LinkTo @query={{hash page=page}}>
      {{ page }}
    </LinkTo>
  {{/each}}
  <LinkTo @query={{hash page=nextPage}} class="next">
    {{svg-jar "right-pag"}}
  </LinkTo>
</div>
