<div class='all-versions-back'>
    {{#link-to 'crate' crate}}&#11013; Back to {{ crate.name }}{{/link-to}}
</div>

<div id='results'>
    <div class='nav'>
        <span class='amt'>
            Displaying
            <span class='cur'>{{ currentPageStart }}-{{ currentPageEnd }}</span>
            of <span class='total'>{{ totalItems }}</span> reverse dependencies
            of <span class='num'>{{ crate.name }}</span>
        </span>
    </div>
</div>

<div id='crate-all-reverse-dependencies' class='white-rows'>
    {{#each this as |crate|}}
        <div class='row'>
          <div>
            {{#link-to 'crate' crate_id}}{{crate_id}}{{/link-to}} requires {{req}}
                {{#link-to 'crate' crate}}{{ num }}{{/link-to}}
            </div>
            {{#link-to 'crate' crate_id class='arrow'}}
                <img src="/assets/right-arrow-all-versions.png"/>
            {{/link-to}}
        </div>
    {{/each}}
</div>

<div class='pagination'>
    {{#link-to 'crate.reverse_dependencies' crate (query-params page=prevPage) class='prev'}}
        <img src="/assets/left-pag.png"/>
    {{/link-to}}
    {{#each pages as |page|}}
        {{#link-to 'crate.reverse_dependencies' crate (query-params page=page)}}
            {{ page }}
        {{/link-to}}
    {{/each}}
    {{#link-to 'crate.reverse_dependencies' crate (query-params page=nextPage) class='next'}}
        <img src="/assets/right-pag.png"/>
    {{/link-to}}
</div>
