<CrateHeader @crate={{this.crate}} />

{{#if this.model}}
  <div local-class="results-meta">
    <ResultsCount
      @start={{this.pagination.currentPageStart}}
      @end={{this.pagination.currentPageEnd}}
      @total={{this.totalItems}}
      @name="reverse dependencies of {{this.crate.name}}"
    />
  </div>

  <ul local-class="list" data-test-list>
    {{#each this.model as |dependency index|}}
      <li local-class="row">
        <RevDepRow @dependency={{dependency}} data-test-row={{index}} />
      </li>
    {{/each}}
  </ul>

  <Pagination @pagination={{this.pagination}} />
{{else}}
  <div local-class="no-results">
    This crate is not used as a dependency in any other crate on crates.io.
  </div>
{{/if}}