{{title crate.name}}

<div id='crates-heading' data-test-heading>
    <div class="wide">
        <div class='info'>
            {{svg-jar "crate" class='crate-icon'}}
            <h1 data-test-crate-name>{{ crate.name }}</h1>
            <h2 data-test-crate-version>{{ currentVersion.num }}</h2>
        </div>

        <div class='right'>
            {{#if session.currentUser}}
                <button class='tan-button' {{action 'toggleFollow' this}}>
                    {{#if fetchingFollowing}}
                        <img src="/assets/ajax-loader.gif">
                    {{else}}
                        {{#if following}}
                            Unfollow
                        {{else}}
                            Follow
                        {{/if}}
                    {{/if}}
                </button>
            {{/if}}
        </div>
    </div>

    <div class="quick-links">
    <ul>
        {{#if crate.homepage}}
            <li><a href="{{crate.homepage}}">Homepage</a></li>
        {{/if}}
        {{#if crate.wiki}}
            <li><a href="{{crate.wiki}}">Wiki</a></li>
        {{/if}}
        {{#if crate.mailing_list}}
            <li><a href="{{crate.mailing_list}}">Mailing list</a></li>
        {{/if}}
        {{#if crate.documentation}}
            <li><a href="{{crate.documentation}}">Documentation</a></li>
        {{/if}}
        {{#if crate.repository}}
            <li><a href="{{crate.repository}}">Repository</a></li>
        {{/if}}
        <li>
          {{#link-to 'crate.reverse-dependencies' (query-params dependency=crate.crate_id) data-test-reverse-deps-link=true}}
            Dependent crates
          {{/link-to}}
        </li>
    </ul>
    </div>
</div>

{{#if currentVersion.yanked}}
    <div class='crate-info'>
        <div>
        <p>This crate has been yanked, but it is still available for download for
        other crates that may be depending on it.</p>
        <p>You may wish to
          {{#link-to 'crate.versions' crate}}view all versions{{/link-to}} to find one that
          has not been yanked.
        </p>
        </div>
    </div>
{{else}}
<div class='crate-info'>
    <div class='docs'>
        <div class='install'>
            <div class='action'>Cargo.toml</div>
            <code id="crate-toml">{{ crate.name }} = "{{ currentVersion.num }}"</code>

            {{#if (is-clipboard-supported)}}
              {{#copy-button clipboardTarget="#crate-toml" success=(action 'copySuccess') error=(action 'copyError') title="Copy to clipboard"}}
                    {{svg-jar "copy" alt="Copy to clipboard"}}
                {{/copy-button}}
            {{/if}}

        </div>
        <div class="copy-result">
            <span id="copy-notification" class="{{if showSuccess "copy-success" "copy-failure"}}">
                {{#if showNotification}}
                    {{#if showSuccess}}
                        Copied!
                    {{else}}
                        An error occured. Please use CTRL+C.
                    {{/if}}
                {{/if}}
            </span>
        </div>
        {{#if crate.readme}}
            <section class="crate-readme" aria-label="Readme">
                {{crate-readme rendered=crate.readme}}
            </section>
        {{else}}
            {{#if crate.description}}
                <div class='about'>
                    <h3>About This Package</h3>
                    <p>{{ crate.description }}</p>
                </div>
            {{/if}}
        {{/if}}
    </div>
    <section class='authorship' aria-label="Crate metadata">
        <div class='top'>
            <div>
                <div class='last-update'><span class='small'>Last Updated</span></div>
                <div class='{{if currentVersion.crate_size 'date-with-small-margin-bot' 'date'}}'>{{moment-from-now crate.updated_at}}</div>
                {{#each crate.annotated_badges as |badge|}}
                    <p>
                        {{component badge.component_name badge=badge}}
                    </p>
                {{/each}}
            </div>

            {{#if currentVersion.crate_size}}
                <div>
                    <div class='crate-size'><span class='small'>Crate Size</span></div>
                    <div class='size'>{{format-crate-size currentVersion.crate_size}}</div>
                </div>
            {{/if}}

            <div class="authors">
                <h3>Authors</h3>
                <ul>
                    {{#each displayedAuthors as |author|}}
                        <li>{{ format-email author.name }}</li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class='bottom'>
            {{#if currentVersion.license}}
                <div>
                    <h3>License</h3>
                    <p class="license" data-test-license>{{ currentVersion.license }}</p>
                </div>
            {{/if}}

            {{#unless crate.keywords.isPending}}
                {{#if anyKeywords}}
                    <div>
                        <h3>Keywords</h3>
                        <ul class='keywords'>
                            {{#each keywords as |keyword|}}
                                <li>{{link-to keyword.id 'keyword' keyword}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            {{/unless}}

            {{#unless crate.categories.isPending}}
                {{#if anyCategories}}
                    <div>
                        <h3>Categories</h3>
                        <ul class='categories'>
                            {{#each categories as |category|}}
                                <li>{{link-to category.category 'category' category.slug}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            {{/unless}}

            <div id='crate-owners'>
                <h3>Owners</h3>

                {{#if isOwner}}
                <p>
                    {{#link-to 'crate.owners' crate}}
                        Manage owners
                    {{/link-to}}
                </p>
                {{/if}}

                <ul class='owners' data-test-owners>
                   {{#each crate.owner_team as |team|}}
                        <li>
                            {{#link-to team.kind team.login data-test-team-link=team.login}}
                                {{user-avatar user=team size='medium-small'}}
                            {{/link-to}}
                        </li>
                    {{/each}}

                    {{#each crate.owner_user as |user|}}
                        <li>
                            {{#link-to user.kind user.login data-test-user-link=user.login}}
                                {{user-avatar user=user size='medium-small'}}
                            {{/link-to}}
                        </li>
                    {{/each}}
                </ul>
            </div>

            <div class='section' id='crate-versions' data-test-versions>
                <h3>Versions</h3>
                <ul>
                    {{#each smallSortedVersions as |version|}}
                        <li>
                            {{#link-to 'crate.version' version.num data-test-version-link=version.num}}
                                {{ version.num }}
                            {{/link-to}}
                            <span class='date'>{{moment-format version.created_at 'll'}}</span>
                            {{#if version.yanked}}
                                <span class='yanked'>yanked</span>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
                <span class='small'>
                    {{#if hasMoreVersions}}
                        {{#link-to 'crate.versions' crate data-test-all-versions-link=true}}
                            show all {{ crate.versions.length }} versions
                        {{/link-to}}
                    {{/if}}
                </span>
            </div>

            <div class='section' id='crate-dependencies'>
                <h3>Dependencies</h3>
                    <ul>
                        {{#each currentDependencies as |dep|}}
                            {{link-to-dep tagName="li" dep=dep}}
                        {{else}}
                            <li>None</li>
                        {{/each}}
                    </ul>
            </div>

            {{#if currentDevDependencies}}
                <div class='section' id='crate-dev-dependencies'>
                    <h3>Dev-Dependencies</h3>
                    <ul>
                        {{#each currentDevDependencies as |dep|}}
                            {{link-to-dep tagName="li" dep=dep}}
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
        </div>
    </section>
</div>

<div id='crate-downloads'>
    <div class='stats'>
        <h3>Stats Overview</h3>
        <div class='stat'>
            <span class='num'>
                {{svg-jar "download"}}
                <span class="num__align">{{ format-num downloadsContext.downloads }}</span>
            </span>
            <span class='desc small'>Downloads all time</span>
        </div>
        <div class='stat'>
            <span class="{{if crate.versions.isPending 'loading'}} num">
                {{svg-jar "crate"}}
            <span class="num__align">{{ crate.versions.length }}</span>
            </span>
            <span class='desc small'>Versions published</span>
        </div>
    </div>

    <div class='versions'>
        <span class='small'>Showing stats for</span>

        {{#rl-dropdown-container class="button-holder"}}
            {{#rl-dropdown-toggle class="tan-button dropdown"}}
                {{#if requestedVersion}}
                    {{ requestedVersion }}
                {{else}}
                    All Versions
                {{/if}}
                <span class='arrow'></span>
            {{/rl-dropdown-toggle}}

            {{#rl-dropdown id="all-versions" tagName="ul" class="dropdown" closeOnChildClick="a:link"}}
                <li class='all'>
                    {{#link-to 'crate.version' 'all'}}All Versions{{/link-to}}
                </li>
                {{#each smallSortedVersions as |version|}}
                    <li>
                        {{#link-to 'crate.version' version.num}}
                            {{ version.num }}
                        {{/link-to}}
                    </li>
                {{/each}}
            {{/rl-dropdown}}
        {{/rl-dropdown-container}}
    </div>
    <div class='graph'>
        <h4>Downloads over the last 90 days</h4>
        {{download-graph data=downloadData}}
    </div>
</div>
{{/if}}
