{{page-title this.crate.name}}

<CrateHeader @crate={{this.crate}} @version={{this.currentVersion}} />

<div local-class='crate-info'>
  <div local-class="docs">
    {{#if this.currentVersion.yanked}}
      <p>
        This crate has been yanked, but it is still available for download for other crates that
        may be depending on it.
      </p>
      <p>
        You may wish to <LinkTo @route="crate.versions" @model={{this.crate}}>view all versions</LinkTo> to find
        one that has not been yanked.
      </p>
    {{else}}
      {{#if this.loadReadmeTask.isRunning}}
        <div local-class="readme-spinner">
          <LoadingSpinner/>
        </div>
      {{else if this.readme}}
        <article aria-label="Readme">
          <RenderedHtml @html={{this.readme}} local-class="readme" />
        </article>
      {{else}}
        {{#if this.crate.description}}
          <div local-class='about'>
            <h3>About This Package</h3>
            <p>{{ this.crate.description }}</p>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
  {{#if (or this.isOwner (not this.currentVersion.yanked))}}
    <CrateSidebar @crate={{this.crate}} @version={{this.currentVersion}} />
  {{/if}}
</div>

{{#unless this.currentVersion.yanked}}
  <div local-class='crate-downloads'>
    <div local-class='stats'>
      {{#if this.downloadsContext.num}}
        <h3 data-test-crate-stats-label>
          Stats Overview for {{this.downloadsContext.num}}
          <LinkTo @route="crate" @model={{this.crate}}>(see all)</LinkTo>
        </h3>

      {{else}}
        <h3 data-test-crate-stats-label>Stats Overview</h3>
      {{/if}}
      <div local-class='stat'>
        <span local-class='num'>
          {{svg-jar "download"}}
          <span local-class="num__align">{{ format-num this.downloadsContext.downloads }}</span>
        </span>
        <span local-class="stat-description">Downloads all time</span>
      </div>
      <div local-class='stat'>
        <span local-class="num">
          {{svg-jar "crate"}}
          <span local-class="num__align">{{ this.crate.versions.length }}</span>
        </span>
        <span local-class="stat-description">Versions published</span>
      </div>
    </div>
    <div local-class='graph'>
      <h4>Downloads over the last 90 days</h4>
      <DownloadGraph @data={{this.downloads}} local-class="graph-data" />
    </div>
  </div>
{{/unless}}
