<CrateHeader @crate={{this.model}} />

<LinkTo @route="crate" @model={{this.model}} local-class="back-link">&#11013; Back to Main Page</LinkTo>

<span local-class="page-description" data-test-page-description>
  All <strong>{{ this.model.versions.length }}</strong>
  versions of <strong>{{ this.model.name }}</strong> since
  {{date-format this.model.created_at 'PPP'}}
</span>

<ul local-class="list">
  {{#each this.model.versions as |version|}}
    <li>
      <VersionList::Row @version={{version}} local-class="row" />
    </li>
  {{/each}}
</ul>
