<CrateHeader @crate={{this.crate}} />

<div local-class="results-meta">
  <span local-class="page-description"
    class="{{if (and this.loadMoreTask.isRunning (not this.sortedVersions)) 'is-empty'}}"
    data-test-page-description
  >
    <strong>{{ this.sortedVersions.length }}</strong> of <strong>{{ this.crate.num_versions }}</strong>
    <strong>{{ this.crate.name }}</strong> versions since
    {{date-format this.crate.created_at 'PPP'}}
  </span>

  <div data-test-search-sort>
    <span local-class="sort-by-label">Sort by </span>
    <SortDropdown @current={{this.currentSortBy}} as |sd|>
      <sd.Option @query={{hash sort="date"}} data-test-date-sort>Date</sd.Option>
      <sd.Option @query={{hash sort="semver"}} data-test-semver-sort>SemVer</sd.Option>
    </SortDropdown>
  </div>
</div>

<ul local-class="list" class="{{unless this.sortedVersions 'is-empty'}}">
  {{#each this.sortedVersions as |version|}}
    <li>
      <VersionList::Row @version={{version}} local-class="row" data-test-version={{version.num}} />
    </li>
  {{/each}}
</ul>
{{#if this.loadMoreTask.isRunning}}
  <div local-class="loading">
    <button type="button" data-test-id="loading" disabled={{this.loadMoreTask.isRunning}}
      {{on "click" (perform this.loadMoreTask)}}
    >
      Loading...<LoadingSpinner local-class="loading-spinner" />
    </button>
  </div>
{{else if this.next_page}}
  <div local-class="load-more">
    <button type="button" data-test-id="load-more" disabled={{this.loadMoreTask.isRunning}}
      {{on "click" (perform this.loadMoreTask)}}
    >
      Load More
    </button>
  </div>
{{/if}}