{{title crate.name}}

<div id='crates-heading' class='container-fluid'>
<div class='row'>

    <div class='col-sm-3'>
        <div class='info'>
            <div class='crates-heading-name'>
                <img class='logo crate' src="/assets/crate.png"/>
                <div class='name'>
                    <h1>{{ crate.name }}</h1>
                    <h2>{{ currentVersion.num }}</h2>
                    <div class='last-update small'>Last Updated: {{moment-from-now crate.updated_at}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class='col-sm-7'>
            {{#if crate.description}}
                <div class='about'>
                    <p>{{ crate.description }}</p>
                </div>
            {{/if}}
    </div>

    <div class='col-sm-2'>
    <div class='right'>
        {{#if session.currentUser}}
            <button class='tan-button' {{action 'toggleFollow' this}}>
                {{#if fetchingFollowing}}
                    <img src="/assets/ajax-loader.gif"/>
                {{else}}
                    {{#if following}}
                        Unfollow
                    {{else}}
                        Follow
                    {{/if}}
                {{/if}}
            </button>
        {{/if}}

        <a class='yellow-button' download
            {{action 'download' currentVersion}}
            href='{{currentVersion.dl_path}}'>
            <img class="button-download" src="/assets/button-download.png"/>
            Download
        </a>
    </div>
    </div>
</div>
</div>

<div class='install'>
    <div class='action'>Cargo.toml</div>
    <code>{{ crate.name }} = "{{ currentVersion.num }}"</code>
</div>

{{! This is used to set the url of to actually download a file }}
<iframe id='download-frame' style='display:none'></iframe>

{{#if currentVersion.yanked}}
    <div class='crate-info'>
        <div>
        <p>This crate has been yanked, but it is still available for download for
        other crates that may be depending on it.</p>
        <p>You may wish to
          {{#link-to 'crate.versions' crate}}view all versions{{/link-to}} to find one that
          has not been yanked.
        </p>
        </div>
    </div>
{{else}}

<div class='container crate-info'>
<div class='row'>

    <div class='col-md-3 authorship'>
        <div>
            <h3>Owners</h3>
            <ul class='owners'>
                {{#each crate.owners as |owner|}}
                    <li>
                        {{#user-link user=owner}}
                        {{user-avatar user=owner size='medium-small'}}
                        {{/user-link}}
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class='top'>
            <div class="authors">
                <h3>Authors</h3>
                <ul>
                    {{#each displayedAuthors as |author|}}
                        <li>{{ format-email author.name }}</li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class='bottom'>
            {{#if crate.license}}
                <div>
                    <h3>License</h3>
                    <p>{{ crate.license }}</p>
                </div>
            {{/if}}

            {{#unless crate.keywords.isPending}}
                {{#if anyKeywords}}
                    <div>
                        <h3>Keywords</h3>
                        <ul class='keywords'>
                            {{#each keywords as |keyword|}}
                                <li>{{link-to keyword.id 'keyword' keyword}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            {{/unless}}
        </div>
    </div>

    <div class='col-md-3 section'>
    <h3>Links</h3>
    {{#if anyLinks}}
        <ul>
            {{#if crate.homepage}}
                <li><a href="{{crate.homepage}}">Homepage</a></li>
            {{/if}}
            {{#if crate.wiki}}
                <li><a href="{{crate.wiki}}">Wiki</a></li>
            {{/if}}
            {{#if crate.mailing_list}}
                <li><a href="{{crate.mailing_list}}">Mailing list</a></li>
            {{/if}}
            {{#if crate.documentation}}
                <li><a href="{{crate.documentation}}">Documentation</a></li>
            {{/if}}
            {{#if crate.repository}}
                <li><a href="{{crate.repository}}">Repository</a></li>
            {{/if}}
            {{#if crate.reverse_dependencies}}
                <li>
                {{#link-to 'crate.reverse_dependencies' (query-params dependency=crate.crate_id)}}
                    Dependent crates
                {{/link-to}}
                </li>
            {{/if}}
        </ul>
    {{/if}}
    </div>

    <div class='col-md-3 section' id='crate-dependencies'>
        <h3>Dependencies</h3>
        <ul>
        {{#each currentDependencies as |dep|}}
            {{link-to-dep dep=dep}}
        {{else}}
            <li>None</li>
        {{/each}}
        </ul>
    </div>

    {{#if currentDevDependencies}}
        <div class='section' id='crate-dev-dependencies'>
        <h3>Dev-Dependencies</h3>
        <ul>
            {{#each currentDevDependencies as |dep|}}
                {{link-to-dep dep=dep}}
            {{/each}}
        </ul>
        </div>
    {{/if}}

    <div class='col-md-3 section' id='crate-versions'>
        <h3>Versions</h3>
        <ul>
        {{#each smallSortedVersions as |version|}}
        <li>
            {{#link-to 'crate.version' version.num}}
                {{ version.num }}
            {{/link-to}}
            <span class='date'>{{moment-format version.created_at 'll'}}</span>
            {{#if version.yanked}}
                <span class='yanked'>yanked</span>
            {{/if}}
        </li>
        {{/each}}
        </ul>
        <span class='small'>
        {{#if hasMoreVersions}}
        {{#link-to 'crate.versions' crate}}
            show all {{ crate.versions.length }} versions
        {{/link-to}}
        {{/if}}
        </span>
    </div>

</div>
</div>


<div id='crate-downloads'>
    <div class='stats'>
        <h3>Stats Overview</h3>
        <div class='stat'>
            <img class="download" src="/assets/download.png"/>
            <span class='num'>
                {{ format-num downloadsContext.downloads }}
            </span>
            <span class='desc small'>Downloads all time</span>
        </div>
        <div class='stat'>
            <span class="{{if crate.versions.isPending 'loading'}} num">
                <img class="package" src="/assets/crate.png"/>
                {{ crate.versions.length }}
            </span>
            <span class='desc small'>Versions published</span>
        </div>
    </div>

    <div class='versions'>
        <span class='small'>Showing stats for</span>

        {{#rl-dropdown-container class="button-holder butt"}}
            {{#rl-dropdown-toggle class="tan-button dropdown"}}
                {{#if requestedVersion}}
                    {{ requestedVersion }}
                {{else}}
                    All Versions
                {{/if}}
                <span class='arrow'></span>
            {{/rl-dropdown-toggle}}

            {{#rl-dropdown id="all-versions" tagName="ul" class="dropdown" closeOnChildClick="a:link"}}
                <li class='all'>
                    {{#link-to 'crate.version' ''}}All Versions{{/link-to}}
                </li>
                {{#each smallSortedVersions as |version|}}
                    <li>
                        {{#link-to 'crate.version' version.num}}
                            {{ version.num }}
                        {{/link-to}}
                    </li>
                {{/each}}
            {{/rl-dropdown}}
        {{/rl-dropdown-container}}
    </div>
    <div class='graph'>
        <h4>Downloads over the last 90 days</h4>
        {{download-graph data=downloadData}}
    </div>
</div>
{{/if}}
