<LinkTo @route="crate" @model={{this.model}} local-class="back-link">&#11013; Back to Main Page</LinkTo>

<span local-class="page-description" data-test-page-description>
  All <strong>{{ this.model.versions.length }}</strong>
  versions of <strong>{{ this.model.name }}</strong> since
  {{moment-format this.model.created_at 'LL'}}
</span>

<div local-class="list">
  {{#each this.model.versions as |version|}}
    <div local-class="row">
      <div>
        <LinkTo @route="crate.version" @model={{version.num}}>{{ version.num }}</LinkTo>

        <span local-class="date">{{moment-format version.created_at 'LL'}}</span>
        {{#if version.yanked}}
          <span local-class='yanked'>yanked</span>
        {{/if}}
      </div>
      {{#if this.isOwner}}
        <YankButton @version={{version}} />
      {{else}}
        <LinkTo @route="crate.version" @model={{version.num}} local-class="arrow">
          {{svg-jar "right-arrow"}}
        </LinkTo>
      {{/if}}
    </div>
  {{/each}}
</div>
