<div class='all-versions-back'>
    {{#link-to 'crate' model}}&#11013; Back to Main Page{{/link-to}}
</div>

<div class='info'>
    <span class='small'>
        All <span class='num'>{{ model.versions.length }}</span>
        versions of <span class='num'>{{ model.name }}</span> since
        {{moment-format model.created_at 'LL'}}
    </span>
</div>

<div id='crate-all-versions' class='white-rows'>
    {{#each model.versions as |version|}}
        <div class='row'>
            <div>
                {{#link-to 'crate.version' version.num}}{{ version.num }}{{/link-to}}

                <span class='small'>{{moment-format version.created_at 'LL'}}</span>
                {{#if version.yanked}}
                    <span class='yanked'>yanked</span>
                {{/if}}
            </div>
            {{#link-to 'crate.version' version.num class='arrow'}}
                <img class="right-arrow-all-versions" src="/assets/right-arrow-all-versions.png"/>
            {{/link-to}}
        </div>
    {{/each}}
</div>
