{{page-title this.crate.name}}

<PageHeader local-class="header" data-test-heading>
  <div local-class="header-row">
    <div local-class="heading">
      {{svg-jar "crate" local-class='crate-icon'}}
      <h1 data-test-crate-name>{{ this.crate.name }}</h1>
      <h2 data-test-crate-version>{{ this.currentVersion.num }}</h2>
      {{#if this.isOwner }}
        <YankButton @version={{this.currentVersion}} @tan={{true}} />
      {{/if}}
    </div>

    {{#if this.session.currentUser}}
      <FollowButton @crate={{this.crate}}/>
    {{/if}}
  </div>

  <ul local-class="quick-links">
    {{#if this.crate.homepage}}
      <li><a href="{{this.crate.homepage}}">Homepage</a></li>
    {{/if}}
    {{#if this.crate.wiki}}
      <li><a href="{{this.crate.wiki}}">Wiki</a></li>
    {{/if}}
    {{#if this.crate.mailing_list}}
      <li><a href="{{this.crate.mailing_list}}">Mailing list</a></li>
    {{/if}}
    {{#if this.documentationLink}}
      <li><a href="{{this.documentationLink}}">Documentation</a></li>
    {{/if}}
    {{#if this.crate.repository}}
      <li><a href="{{this.crate.repository}}">Repository</a></li>
    {{/if}}
    <li>
      <LinkTo @route="crate.reverse-dependencies" @query={{hash dependency=this.crate.crate_id}} data-test-reverse-deps-link>
        Dependent crates
      </LinkTo>
    </li>
  </ul>
</PageHeader>

<div local-class='crate-info'>
  <div local-class="docs">
    {{#if this.currentVersion.yanked}}
      <p>
        This crate has been yanked, but it is still available for download for other crates that
        may be depending on it.
      </p>
      <p>
        You may wish to <LinkTo @route="crate.versions" @model={{this.crate}}>view all versions</LinkTo> to find
        one that has not been yanked.
      </p>
    {{else}}
      <div local-class='install'>
        <div local-class='install-action'>Cargo.toml</div>
        <code>{{this.crate.name}} = "{{this.currentVersion.num}}"</code>
        {{#if (is-clipboard-supported)}}
          <CrateTomlCopy @copyText='{{this.crate.name}} = "{{this.currentVersion.num}}"' />
        {{/if}}
      </div>
      {{#if this.readme}}
        <section local-class="crate-readme" aria-label="Readme" {{highlight-syntax selector="pre > code"}}>
          {{html-safe this.readme}}
        </section>
      {{else}}
        {{#if this.crate.description}}
          <div local-class='about'>
            <h3>About This Package</h3>
            <p>{{ this.crate.description }}</p>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
  {{#if (or this.isOwner (not this.currentVersion.yanked))}}
    <section local-class='authorship' aria-label="Crate metadata">
      <div local-class='top'>
        <div>
          <div local-class='last-update'>Last Updated</div>
          <div local-class='{{if this.currentVersion.crate_size 'date-with-small-margin-bot' 'date'}}'>{{moment-from-now this.crate.updated_at}}</div>
        </div>

        {{#if this.currentVersion.crate_size}}
          <div>
            <div local-class='crate-size'>Crate Size</div>
            <div local-class='size'>{{pretty-bytes this.currentVersion.crate_size}}</div>
          </div>
        {{/if}}

        <div>
          <h3>Authors</h3>
          <ul>
            {{#each this.currentVersion.authorNames as |author|}}
              <li>{{ format-email author }}</li>
            {{/each}}
          </ul>
        </div>
      </div>

      <div local-class='bottom'>
        {{#if this.currentVersion.license}}
          <div>
            <h3>License</h3>
            <p data-test-license>{{ this.currentVersion.license }}</p>
          </div>
        {{/if}}

        {{#unless this.crate.keywords.isPending}}
          {{#if this.anyKeywords}}
            <div>
              <h3>Keywords</h3>
              <ul local-class='keywords'>
                {{#each this.keywords as |keyword|}}
                  <li><LinkTo @route="keyword" @model={{keyword}}>{{keyword.id}}</LinkTo></li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        {{/unless}}

        {{#unless this.crate.categories.isPending}}
          {{#if this.anyCategories}}
            <div>
              <h3>Categories</h3>
              <ul>
                {{#each this.categories as |category|}}
                  <li><LinkTo @route="category" @model={{category.slug}}>{{category.category}}</LinkTo></li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        {{/unless}}

        <div>
          <h3>Owners</h3>

          {{#if this.isOwner}}
            <p>
              <LinkTo @route="crate.owners" @model={{this.crate}} data-test-manage-owners-link>
                Manage owners
              </LinkTo>
            </p>
          {{/if}}

          <ul local-class='owners' data-test-owners>
            {{#each this.crate.owner_team as |team|}}
              <li>
                <LinkTo @route={{team.kind}} @model={{team.login}} data-test-team-link={{team.login}}>
                  <UserAvatar @user={{team}} @size="medium-small" />
                </LinkTo>
              </li>
            {{/each}}

            {{#each this.crate.owner_user as |user|}}
              <li>
                <LinkTo @route={{user.kind}} @model={{user.login}} data-test-user-link={{user.login}}>
                  <UserAvatar @user={{user}} @size="medium-small" />
                </LinkTo>
              </li>
            {{/each}}
          </ul>
        </div>

        <div data-test-versions>
          <h3>Versions</h3>
          <ul>
            {{#each this.smallSortedVersions as |version|}}
              <li>
                <LinkTo @route="crate.version" @model={{version.num}} data-test-version-link={{version.num}}>
                  {{ version.num }}
                </LinkTo>
                {{moment-format version.created_at 'll'}}
                {{#if version.yanked}}
                  <span local-class='yanked'>yanked</span>
                {{/if}}
              </li>
            {{/each}}
          </ul>
          {{#if this.hasMoreVersions}}
            <LinkTo @route="crate.versions" @model={{this.crate}} local-class="more-versions-link" data-test-all-versions-link>
              show all {{ this.crate.versions.length }} versions
            </LinkTo>
          {{/if}}
        </div>

        <div>
          <h3>Dependencies</h3>
          <ul data-test-dependencies>
            {{#each this.currentVersion.normalDependencies as |dep|}}
              <li><LinkToDep @dep={{dep}} /></li>
            {{else}}
              {{#if this.currentVersion.loadDepsTask.isRunning}}
                <li>Loading…</li>
              {{else}}
                <li>None</li>
              {{/if}}
            {{/each}}
          </ul>
        </div>

        {{#if this.currentVersion.buildDependencies}}
          <div>
            <h3>Build-Dependencies</h3>
            <ul data-test-build-dependencies>
              {{#each this.currentVersion.buildDependencies as |dep|}}
                <li><LinkToDep @dep={{dep}} /></li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if this.currentVersion.devDependencies}}
          <div>
            <h3>Dev-Dependencies</h3>
            <ul data-test-dev-dependencies>
              {{#each this.currentVersion.devDependencies as |dep|}}
                <li><LinkToDep @dep={{dep}} /></li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      </div>
    </section>
  {{/if}}
</div>

{{#unless this.currentVersion.yanked}}
  <div local-class='crate-downloads'>
    <div local-class='stats'>
      {{#if this.downloadsContext.num}}
        <h3 data-test-crate-stats-label>
          Stats Overview for {{this.downloadsContext.num}}
          <LinkTo @route="crate" @model={{this.crate}}>(see all)</LinkTo>
        </h3>

      {{else}}
        <h3 data-test-crate-stats-label>Stats Overview</h3>
      {{/if}}
      <div local-class='stat'>
        <span local-class='num'>
          {{svg-jar "download"}}
          <span local-class="num__align">{{ format-num this.downloadsContext.downloads }}</span>
        </span>
        <span local-class="stat-description">Downloads all time</span>
      </div>
      <div local-class='stat'>
        <span local-class="num">
          {{svg-jar "crate"}}
          <span local-class="num__align">{{ this.crate.versions.length }}</span>
        </span>
        <span local-class="stat-description">Versions published</span>
      </div>
    </div>
    <div local-class='graph'>
      <h4>Downloads over the last 90 days</h4>
      <DownloadGraph @data={{this.downloadData}} local-class="graph-data" />
    </div>
  </div>
{{/unless}}
