{{page-title this.crate.name}}

<PageHeader local-class="header" data-test-heading>
  <div local-class="header-row">
    <div local-class="heading">
      {{svg-jar "crate" local-class='crate-icon'}}
      <h1 data-test-crate-name>{{ this.crate.name }}</h1>
      <h2 data-test-crate-version>{{ this.currentVersion.num }}</h2>
      {{#if this.isOwner }}
        {{!-- <YankButton @version={{this.currentVersion}} @tan={{true}} /> --}}
      {{/if}}
    </div>

    {{#if this.session.currentUser}}
      <FollowButton @crate={{this.crate}}/>
    {{/if}}
  </div>

  <ul local-class="quick-links">
    {{#if this.crate.homepage}}
      <li><a href="{{this.crate.homepage}}">Homepage</a></li>
    {{/if}}
    {{#if this.crate.wiki}}
      <li><a href="{{this.crate.wiki}}">Wiki</a></li>
    {{/if}}
    {{#if this.crate.mailing_list}}
      <li><a href="{{this.crate.mailing_list}}">Mailing list</a></li>
    {{/if}}
    {{#if this.currentVersion.documentationLink}}
      <li><a href="{{this.currentVersion.documentationLink}}" data-test-docs-link>Documentation</a></li>
    {{/if}}
    {{#if this.crate.repository}}
      <li><a href="{{this.crate.repository}}">Repository</a></li>
    {{/if}}
    <li>
      <LinkTo @route="crate.reverse-dependencies" data-test-reverse-deps-link>
        Dependent crates
      </LinkTo>
    </li>
  </ul>
</PageHeader>

<div local-class='crate-info'>
  <div local-class="docs">
    {{#if this.currentVersion.yanked}}
      <p>
        This crate has been yanked, but it is still available for download for other crates that
        may be depending on it.
      </p>
      <p>
        You may wish to <LinkTo @route="crate.versions" @model={{this.crate}}>view all versions</LinkTo> to find
        one that has not been yanked.
      </p>
    {{else}}
      <div local-class='install'>
        <div local-class='install-action'>Cargo.toml</div>
        <code>{{this.crate.name}} = "{{this.currentVersion.num}}"</code>
        {{#if (is-clipboard-supported)}}
          <CopyButton
            @copyText='{{this.crate.name}} = "{{this.currentVersion.num}}"'
            title="Copy Cargo.toml snippet to clipboard"
            local-class="copy-button"
          >
            {{svg-jar "copy" alt="Copy Cargo.toml snippet to clipboard"}}
          </CopyButton>
        {{/if}}
      </div>
      {{#if this.readme}}
        <section aria-label="Readme">
          <RenderedHtml @html={{this.readme}} local-class="readme" />
        </section>
      {{else}}
        {{#if this.crate.description}}
          <div local-class='about'>
            <h3>About This Package</h3>
            <p>{{ this.crate.description }}</p>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
  {{#if (or this.isOwner (not this.currentVersion.yanked))}}
    <CrateSidebar @crate={{this.crate}} @version={{this.currentVersion}} />
  {{/if}}
</div>

{{#unless this.currentVersion.yanked}}
  <div local-class='crate-downloads'>
    <div local-class='stats'>
      {{#if this.downloadsContext.num}}
        <h3 data-test-crate-stats-label>
          Stats Overview for {{this.downloadsContext.num}}
          <LinkTo @route="crate" @model={{this.crate}}>(see all)</LinkTo>
        </h3>

      {{else}}
        <h3 data-test-crate-stats-label>Stats Overview</h3>
      {{/if}}
      <div local-class='stat'>
        <span local-class='num'>
          {{svg-jar "download"}}
          <span local-class="num__align">{{ format-num this.downloadsContext.downloads }}</span>
        </span>
        <span local-class="stat-description">Downloads all time</span>
      </div>
      <div local-class='stat'>
        <span local-class="num">
          {{svg-jar "crate"}}
          <span local-class="num__align">{{ this.crate.versions.length }}</span>
        </span>
        <span local-class="stat-description">Versions published</span>
      </div>
    </div>
    <div local-class='graph'>
      <h4>Downloads over the last 90 days</h4>
      <DownloadGraph @data={{this.downloadData}} local-class="graph-data" />
    </div>
  </div>
{{/unless}}
