<CrateHeader @crate={{this.crate}} />

<div local-class="results-meta">
  <span local-class="page-description"
    class="text--small {{if (and this.loadMoreTask.isRunning (not this.sortedVersions)) 'is-empty'}}"
    data-test-page-description
  >
    <strong>{{ this.sortedVersions.length }}</strong> of <strong>{{ this.crate.num_versions }}</strong>
    <strong>{{ this.crate.name }}</strong> versions since
    {{date-format this.crate.created_at 'PPP'}}
  </span>

  <div data-test-search-sort>
    <span local-class="sort-by-label">Sort by </span>
    <SortDropdown @current={{this.currentSortBy}} as |sd|>
      <sd.Option @query={{hash sort="date"}} data-test-date-sort>Date</sd.Option>
      <sd.Option @query={{hash sort="semver"}} data-test-semver-sort>SemVer</sd.Option>
    </SortDropdown>
  </div>
</div>

{{#if this.sortedVersions}}
  <ul local-class="list">
    {{#each this.sortedVersions as |version|}}
      <li>
        <VersionList::Row @version={{version}} local-class="row" data-test-version={{version.num}} />
      </li>
    {{/each}}
  </ul>

  {{#if (or this.loadMoreTask.isRunning this.next_page)}}
    <div local-class="load-more">
      <button
        type="button"
        class="load-more-button"
        data-test-id={{if this.loadMoreTask.isRunning "loading" "load-more"}}
        disabled={{this.loadMoreTask.isRunning}}
        {{on "click" (perform this.loadMoreTask)}}
      >
        {{#if this.loadMoreTask.isRunning}}
          Loading...<LoadingSpinner local-class="loading-spinner" />
        {{else}}
          Load More
        {{/if}}
      </button>
    </div>
  {{/if}}
{{else if this.loadMoreTask.isRunning}}
  <div local-class="loading">
    <LoadingSpinner local-class="loading-spinner" />
  </div>
{{/if}}