{{#*inline "body"}}
  <table class="table align-middle">
    <thead>
      <tr>
        <th>Crate</th>
        <th>Version</th>
        <th>Published at</th>
        <th>Published by</th>
        <th/>
      <tr>
    </thead>
    <tbody>
      {{#each this}}
        <tr>
          <td>
            <div><a href="/crates/{{this.name}}">{{this.name}}</a></div>
            <div style="font-size: 80%"><a href="https://index.crates.io/{{crate-index-path this.name}}">View in sparse index</a></div>
          </td>
          <td>{{this.num}}</td>
          <td>{{this.created_at}}</td>
          <td>
            <a href="/users/{{this.published_by_username}}">
              {{#if this.published_by_avatar}}
                <img src="{{this.published_by_avatar}}" alt="{{this.published_by_username}}" aria-hidden="true" width="32" height="32" class="d-inline-block me-1">
              {{~/if~}}
              {{~this.published_by_username}}
            </a>
          </td>
          <td><button type="button" class="btn btn-danger">Yank</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/inline}}

{{#*inline "title"}}Crates{{/inline}}

{{> page}}