{{ title 'My Crates' }}

<div class="crates-heading">
  {{svg-jar "crate"}}
  <h1>My Crates</h1>
</div>

{{! TODO: reduce duplication with templates/crates.hbs }}

<div id='results'>
  <ResultsCount
    @start={{this.currentPageStart}}
    @end={{this.currentPageEnd}}
    @total={{this.totalItems}}
  />

  <div>
    <span class='small'>Sort by</span>
    <Dropdown as |dd|>
      <dd.Trigger class="dropdown-button">
        {{svg-jar "sort"}}
        {{ this.currentSortBy }}
      </dd.Trigger>

      <dd.Menu as |menu|>
        <menu.Item>
          <LinkTo @query={{hash sort="alpha"}}>
            Alphabetical
          </LinkTo>
        </menu.Item>
        <menu.Item>
          <LinkTo @query={{hash sort="downloads"}}>
            All-Time Downloads
          </LinkTo>
        </menu.Item>
        <menu.Item>
          <LinkTo @query={{hash sort="recent-downloads"}}>
            Recent Downloads
          </LinkTo>
        </menu.Item>
        <menu.Item>
          <LinkTo @query={{hash sort="recent-updates"}}>
            Recent Updates
          </LinkTo>
        </menu.Item>
        <menu.Item>
          <LinkTo @query={{hash sort="new"}}>
            Newly Added
          </LinkTo>
        </menu.Item>
      </dd.Menu>
    </Dropdown>
  </div>
</div>

<div class='white-rows'>
  {{#each this.model as |crate|}}
    <CrateRow @crate={{crate}} class="row" />
  {{/each}}
</div>

<Pagination @pages={{this.pages}} @prevPage={{this.prevPage}} @nextPage={{this.nextPage}} />
