<PageHeader @title="Followed Crates"/>

{{! TODO: reduce duplication with templates/me/crates.hbs }}

<div local-class="results-meta">
  <ResultsCount
    @start={{this.pagination.currentPageStart}}
    @end={{this.pagination.currentPageEnd}}
    @total={{this.totalItems}}
  />

  <div>
    <span local-class="sort-by-label">Sort by</span>
    <SortDropdown @current={{this.currentSortBy}} as |sd|>
      <sd.Option @query={{hash sort="alpha"}}>Alphabetical</sd.Option>
      <sd.Option @query={{hash sort="downloads"}}>All-Time Downloads</sd.Option>
    </SortDropdown>
  </div>
</div>

<CrateList @crates={{this.model}} local-class="list" />

<Pagination @pagination={{this.pagination}} />