<div id='crates-heading'>
    <img class='logo' src="/assets/crate.png"/>
    <h1>My Crates</h1>
</div>

{{! TODO: reduce duplication with templates/me/crates.hbs }}

<div id='results'>
    <div class='nav'>
        <span class='amt small'>
            Displaying
            <span class='cur'>{{ currentPageStart }}-{{ currentPageEnd }}</span>
            of <span class='total'>{{ totalItems }}</span> total results
        </span>
    </div>

    <div class='sort'>
        <span class='small'>Sort by</span>
        <div class='dropdown-container'>
            <a {{action 'toggleShowSortBy'}}
               class='{{if showSortBy "active"}} dropdown'>
                <img src="/assets/sort.png"/>
                {{ currentSortBy }}
                <span class='arrow'></span>
            </a>
            <ul class='{{if showSortBy "open"}} dropdown'>
                <li>
                    {{#link-to 'me.following' (query-params sort="alpha")}}
                        Alphabetical
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'me.following' (query-params sort="downloads")}}
                        Downloads
                    {{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</div>

<div id='crates' class='white-rows'>
    {{#each this as |crate|}}
        {{crate-row crate=crate}}
    {{/each}}
</div>

<div class='pagination'>
    {{#link-to 'me.following' (query-params page=prevPage) class="prev"}}
        <img src="/assets/left-pag.png"/>
    {{/link-to}}
    {{#each pages as |page|}}
        {{#link-to 'me.following' (query-params page=page)}}{{ page }}{{/link-to}}
    {{/each}}
    {{#link-to 'me.following' (query-params page=nextPage) class="next"}}
        <img src="/assets/right-pag.png"/>
    {{/link-to}}
</div>
