<div class="crates-heading">
  {{svg-jar "crate"}}
  <h1>My Crates</h1>
</div>

{{! TODO: reduce duplication with templates/me/crates.hbs }}

<div local-class="results-meta">
  <ResultsCount
    @start={{this.currentPageStart}}
    @end={{this.currentPageEnd}}
    @total={{this.totalItems}}
  />

  <div>
    <span local-class="sort-by-label">Sort by</span>
    <SortDropdown @current={{this.currentSortBy}} as |sd|>
      <sd.Option @query={{hash sort="alpha"}}>Alphabetical</sd.Option>
      <sd.Option @query={{hash sort="downloads"}}>All-Time Downloads</sd.Option>
    </SortDropdown>
  </div>
</div>

<div local-class="list">
  {{#each this.model as |crate|}}
    <CrateRow @crate={{crate}} local-class="row" />
  {{/each}}
</div>

<Pagination @pages={{this.pages}} @prevPage={{this.prevPage}} @nextPage={{this.nextPage}} />