{{page-title 'Settings'}}

<PageHeader @title="Account Settings" @icon="gear"/>

<div local-class='me-profile'>
  <h2>Profile Information</h2>

  <div local-class='info'>
    <UserLink @user={{this.model.user}}> <UserAvatar @user={{this.model.user}} @size="medium" /> </UserLink>

    <dl>
      <dt>Name</dt>
      <dd>{{ this.model.user.name }}</dd>
      <dt>GitHub Account</dt>
      <dd>{{ this.model.user.login }}</dd>
    </dl>
  </div>
</div>

<div local-class="me-email">
  <h2>User Email</h2>
  <EmailInput
    @type="email"
    @value={{this.model.user.email}}
    @user={{this.model.user}}
    data-test-email-input
  />
</div>

<form local-class="me-email-notifications" {{ action 'saveEmailNotifications' on='submit' }} >
  <h2>Email Notification Preferences</h2>

  {{#if this.hasEmailNotificationFeature}}
    <p>
      To aid detection of unauthorized crate changes, we email you each time a new version of a crate you own is pushed.
      By receiving and reading these emails, you help protect the Rust ecosystem. You may also choose to turn these
      emails off for any of your crates listed below.
    </p>

    <div local-class="notifications-row">
      <button type='button' local-class="select-all-button" {{action 'emailNotificationsSelectAll'}}>Select All</button>
      <button type='button' local-class="deselect-all-button" {{action 'emailNotificationsSelectNone'}}>Deselect All</button>
    </div>

    <ul local-class="notifications-list">
      {{#each this.ownedCrates as |ownedCrate|}}
        <OwnedCrateRow @ownedCrate={{ownedCrate}} />
      {{/each}}
    </ul>

    <div local-class="notifications-row">
      {{#if this.emailNotificationsError}}
        <div local-class="notifications-error">
          An error occurred while saving your email preferences.
        </div>
      {{/if}}
      {{#if this.emailNotificationsSuccess}}
        <div local-class="notifications-success">
          Your email notification preferences have been updated!
        </div>
      {{/if}}
      <div local-class="right">
        <button type='submit' local-class="update-notifications-button">Update</button>
      </div>
    </div>
  {{else}}
    <p>
      To aid detection of unauthorized crate changes, we plan to email you each time a new version of a crate you own is
      pushed. This feature is still work-in-progress, if you want to help out have a look at
      <a href="https://github.com/rust-lang/crates.io/issues/1895">#1895</a>.
    </p>
  {{/if}}
</form>

<div local-class="me-subheading">
  <h2>API Access</h2>
  <div local-class="right">
    <button
      type="button"
      local-class="new-token-button"
      disabled={{this.disableCreate}}
      data-test-new-token-button
      {{action "startNewToken"}}
    >
      New Token
    </button>
  </div>
</div>

<p>
  If you want to use package commands from the command line, you will need to
  login with <code>cargo login (token)</code> using one of the tokens listed below.
</p>
<p>
  When working in shared environments, supplying the token on the command line could
  expose it to prying eyes. To avoid this, enter <code>cargo login</code> and supply your
  token when prompted.
</p>

<div local-class="token-list">
  {{#each this.sortedTokens as |token|}}
    <ApiTokenRow @token={{token}} />
  {{/each}}
</div>
