{{ title 'Settings' }}

<div id='crates-heading'>
    <img class='gear logo' src="/assets/gear.png"/>
    <h1>Account Settings</h1>
</div>

<div id='me-profile'>
    <h2>Profile Information</h2>

    <div class='info'>
        {{#user-link user=model }} {{user-avatar user=model size='medium'}} {{/user-link}}

        <dl>
            <dt>Name</dt>
            <dd>{{ model.name }}</dd>
            <dt>GitHub Account</dt>
            <dd>{{ model.login }}</dd>
            <dt>Email</dt>
            <dd>{{ model.email }}</dd>
        </dl>
    </div>
</div>

<div id='me-api'>
    <h2>API Access</h2>

    <p class='api'>Your API key is <strong>{{ model.api_token }}</strong></p>
    <p>
        If you want to use package commands from the command line, you'll need a
        <code>~/.cargo/config</code> which can be generated with:
    </p>
    <pre>cargo login {{ model.api_token }}</pre>

    <button {{action "resetToken"}} class='yellow-button'>
        Reset my API key
    </button>

    <img src="/assets/ajax-loader.gif"
         class={{if isResetting "" "hidden"}} />
</div>
