<li>
  <LinkTo @route={{@route}} @model={{@model}} local-class="link" ...attributes>
    <span>
      {{@title}}
      {{#if @subtitle}}({{@subtitle}}){{/if}}
    </span>
    {{svg-jar "right-arrow"}}
  </LinkTo>
</li>
