<li>
  <LinkTo @route={{@route}} @model={{@model}} local-class="link" ...attributes>
    <div local-class="left">
      <div local-class="title">{{@title}}</div>
      {{#if @subtitle}}<div local-class="subtitle">{{@subtitle}}</div>{{/if}}
    </div>
    {{svg-jar "right-arrow" local-class="right"}}
  </LinkTo>
</li>
