<a href={{@link.url}} local-class="link" ...attributes {{on "click" @link.transitionTo}}>
  <div local-class="left">
    <div local-class="title">{{@title}}</div>
    {{#if @subtitle}}<div local-class="subtitle">{{@subtitle}}</div>{{/if}}
  </div>
  {{svg-jar "chevron-right" local-class="right"}}
</a>