<a href={{@link.url}} ...attributes class="box" {{on "click" @link.transitionTo}}>
  <div class="left">
    <div class="title">{{@title}}</div>
    {{#if @subtitle}}<div class="subtitle">{{@subtitle}}</div>{{/if}}
  </div>
  {{svg-jar "chevron-right" class=(scoped-class "right")}}
</a>