{{title "Cargo: packages for Rust" separator=' - ' prepend=true}}
{{google-jsapi}}

<a href='https://github.com/rust-lang/crates.io' class='fork-me'>
  <img src='/assets/forkme.png'/>
</a>

<div id="header">
    {{#link-to "index"}}
        <img src="/assets/Cargo-Logo-Small.png" id="logo"
             height=100 width=100 />
    {{/link-to}}
    {{#link-to "index"}}
      <h1>
        CARGO
        <span class="subtitle">packages for Rust</span>
      </h1>
    {{/link-to}}

    <form class='search' action='/search' {{ action "search" on="submit" }} >
        {{input type="text" class="search" name="q" id="cargo-desktop-search"
                placeholder="Click or press 'S' to search..."
                value=search
                autofocus="autofocus"
                tabindex="1"
                required=true}}
    </form>

    <div class='nav'>
        {{#link-to "crates" (query-params letter="null" page=1)}}
            Browse All Crates
        {{/link-to}}
        <span class="sep">|</span>
        {{#rl-dropdown-container class="dropdown-container"}}
            {{#rl-dropdown-toggle class="dropdown"}}
                Docs
                <span class='arrow'></span>
            {{/rl-dropdown-toggle}}

            {{#rl-dropdown tagName="ul" id="doc-links" class="dropdown" closeOnChildClick="a:link"}}
                <li><a href='http://doc.crates.io/index.html'>Getting Started</a></li>
                <li><a href='http://doc.crates.io/guide.html'>Guide</a></li>
                <li><a href='http://doc.crates.io/specifying-dependencies.html'>Specifying Dependencies</a></li>
                <li><a href='http://doc.crates.io/crates-io.html'>Publishing on crates.io</a></li>
                <li><a href='http://doc.crates.io/faq.html'>FAQ</a></li>
                <li><a href='http://doc.crates.io/manifest.html'>Cargo.toml Format</a></li>
                <li><a href='http://doc.crates.io/build-script.html'>Build Scripts</a></li>
                <li><a href='http://doc.crates.io/config.html'>Configuration</a></li>
                <li><a href='http://doc.crates.io/pkgid-spec.html'>Package ID specs</a></li>
                <li><a href='http://doc.crates.io/environment-variables.html'>Environment Variables</a></li>
                <li><a href='http://doc.crates.io/source-replacement.html'>Source Replacement</a></li>
                <li><a href='http://doc.crates.io/external-tools.html'>External Tools</a></li>
                <li><a href='http://doc.crates.io/policies.html'>Policies</a></li>
            {{/rl-dropdown}}
        {{/rl-dropdown-container}}
        <span class="sep">|</span>
        {{#if session.currentUser}}
            {{#rl-dropdown-container class="dropdown-container"}}
                {{#rl-dropdown-toggle class="dropdown"}}
                    {{user-avatar user=session.currentUser size='small'}}
                    {{ session.currentUser.name }}
                    <span class='arrow'></span>
                {{/rl-dropdown-toggle}}

                {{#rl-dropdown tagName="ul" class="dropdown current-user-links" closeOnChildClick="a:link"}}
                    <li>{{#link-to 'dashboard'}}Dashboard{{/link-to}}</li>
                    <li>{{#link-to 'me'}}Account Settings{{/link-to}}</li>
                    <li class='last'>{{#link-to 'logout'}}Sign Out{{/link-to}}</li>
                {{/rl-dropdown}}
            {{/rl-dropdown-container}}
        {{else}}
            {{#link-to "login"}}
                    <img class="lock" src="/assets/lock.png"/>
                    Log in with GitHub
            {{/link-to}}
        {{/if}}
    </div>

    <div class='menu'>
        {{#rl-dropdown-container class='dropdown-container'}}
            {{#rl-dropdown-toggle class='dropdown'}}
                Menu
                <span class='arrow'></span>
            {{/rl-dropdown-toggle}}
            {{#rl-dropdown tagName='ul' class='dropdown current-user-links' closeOnChildClick='a:link'}}
                <li>{{#link-to "crates"}}Browse All Crates{{/link-to}}</li>
                {{#if session.currentUser}}
                    <li>{{#link-to 'dashboard'}}Dashboard{{/link-to}}</li>
                    <li>{{#link-to 'me'}}Account Settings{{/link-to}}</li>
                    <li class='last'>{{#link-to 'logout'}}Sign Out{{/link-to}}</li>
                {{else}}
                    <li>{{#link-to "login"}}Log in with GitHub{{/link-to}}</li>
                {{/if}}
            {{/rl-dropdown}}
        {{/rl-dropdown-container}}
    </div>

    <div class='links'>
    </div>
</div>

<form id='mobile-search' class='search' action='/search' {{ action "search" on="submit" }} >
    {{input type="text" class="search" name="q"
            placeholder="Search"
            value=search
            autocorrect="off"
            tabindex="1"
            required=true}}
</form>

<div id="main" class='inner-content'>
    <p id='flash' class={{if flashError "shown"}}>{{flashError}}</p>

    {{outlet}}
</div>

<div class='after-main-links'>
    {{#link-to 'install'}}Install{{/link-to}}
    <span class="sep">|</span>
    <a href='http://doc.crates.io'>Getting Started</a>
    <span class="sep">|</span>
    <a href='http://doc.crates.io/guide.html'>Guide</a>
    <span class="sep">|</span>
    <a href='mailto:help@crates.io'>Send us an email</a>
</div>
