<HeadLayout />

{{title "crates.io: Rust Package Registry" separator=' - ' prepend=true}}

<Header/>

<main local-class="main">
  <div local-class="inner-main">
    <FlashMessage @message={{this.flashMessages.message}} />

    {{outlet}}
  </div>
</main>

<Footer/>

<a href='https://github.com/rust-lang/crates.io' local-class='fork-me'>
  <img src='/assets/forkme.png' alt="Fork me on GitHub">
</a>

{{#if this.design.showToggleButton}}
  <button type="button" local-class="toggle-design-button" {{on "click" this.design.toggle}}>
    Toggle Design
  </button>
{{/if}}
{{#if this.design.useNewDesign}}
  {{! template-lint-disable no-curly-component-invocation }}
  {{add-html-class class="new-design"}}
{{/if}}