<div local-class="wrapper" data-test-404-page>
  <div local-class="content">
    {{svg-jar "cuddlyferris" local-class="logo"}}

    <h1 local-class="title" data-test-title>{{or @model.title "Page not found"}}</h1>

    {{#if @model.loginNeeded}}
      <button
        type="button"
        disabled={{this.session.loginTask.isRunning}}
        local-class="link"
        data-test-login
        {{on "click" (perform this.session.loginTask)}}
      >
        Log in with GitHub
      </button>
    {{else if @model.tryAgain}}
      <button type="button" local-class="link" data-test-try-again {{on "click" this.reload}}>Try Again</button>
    {{else}}
      <button type="button" local-class="link" data-test-go-back {{on "click" this.back}}>Go Back</button>
    {{/if}}
  </div>
</div>