{{page-title 'Categories'}}

<PageHeader @title="All Categories"/>

<div local-class="results-meta">
  <ResultsCount
    @start={{this.pagination.currentPageStart}}
    @end={{this.pagination.currentPageEnd}}
    @total={{this.totalItems}}
    data-test-categories-nav
  />

  <div data-test-categories-sort>
    <span local-class="sort-by-label">Sort by</span>
    <SortDropdown @current={{this.currentSortBy}} as |sd|>
      <sd.Option @query={{hash sort="alpha"}}>Alphabetical</sd.Option>
      <sd.Option @query={{hash sort="crates"}}># Crates</sd.Option>
    </SortDropdown>
  </div>
</div>

<div local-class="list">
  {{#each this.model as |category|}}
    <div local-class='row' data-test-category={{category.slug}}>
      <div>
        <LinkTo @route="category" @model={{category.slug}} local-class="category-link">
          {{category.category}}
        </LinkTo>
        <span local-class="crate-count" data-test-crate-count>
          {{format-num category.crates_cnt}} {{if (eq category.crates_cnt 1) "crate" "crates"}}
        </span>
      </div>
      <div local-class="description">
        {{ category.description }}
      </div>
    </div>
  {{/each}}
</div>

<Pagination @pagination={{this.pagination}} />

<div local-class='categories-footer'>
  Want to categorize your crate?
  <a href='http://doc.crates.io/manifest.html#package-metadata'>Add metadata!</a>
</div>
