{{ title 'Category Slugs' }}

<div id='category-slugs'>
    <div id='crates-heading'>
        {{svg-jar "crate"}}
        <h1>All Valid Category Slugs</h1>
    </div>

    <div class='white-rows'>
        <dl>
          {{#each model as |category|}}
              <dt data-test-category-slug={{category.slug}}>{{category.slug}}</dt>
              <dd data-test-category-description={{category.slug}}>{{category.description}}</dd>
          {{/each}}
        </dl>
    </div>
</div>
