<div id='crates-heading'>
    <img class='logo' src="/assets/crate.png"/>
    <h1>All Crates</h1>
    <h2>starting with '{{ letter }}'</h2>
</div>
<div id='selection'>
    {{#each alphabet}}
        {{#link-to 'crates' (query-params letter=this)}}
            {{ this }}
        {{/link-to}}
    {{/each}}
</div>

<div id='results'>
    <div class='nav'>
        <span class='amt small'>
            Displaying
            <span class='cur'>{{ currentPageStart }}-{{ currentPageEnd }}</span>
            of <span class='total'>{{ totalItems }}</span> total results
        </span>
    </div>
</div>

<div id='crates'>
    {{#each}}
        {{render "crate-row" this}}
    {{/each}}
</div>

<div class='pagination'>
    {{#link-to 'crates' (query-params page=prevPage) class="prev"}}Prev{{/link-to}}
    {{#each pages}}
        {{#link-to 'crates' (query-params page=this)}}{{ this }}{{/link-to}}
    {{/each}}
    {{#link-to 'crates' (query-params page=nextPage) class="next"}}Next{{/link-to}}
</div>
