{{page-title 'Crates'}}

<PageHeader @title="All Crates" @suffix={{if this.letter (concat "starting with '" this.letter "'")}}/>

<div local-class="results-meta">
  <ResultsCount
    @start={{this.pagination.currentPageStart}}
    @end={{this.pagination.currentPageEnd}}
    @total={{this.totalItems}}
    data-test-crates-nav
  />

  <div data-test-crates-sort>
    <span local-class="sort-by-label">Sort by</span>
    <SortDropdown @current={{this.currentSortBy}} as |sd|>
      <sd.Option @query={{hash page=1 sort="alpha"}}>Alphabetical</sd.Option>
      <sd.Option @query={{hash page=1 sort="downloads"}}>All-Time Downloads</sd.Option>
      <sd.Option @query={{hash page=1 sort="recent-downloads"}}>Recent Downloads</sd.Option>
      <sd.Option @query={{hash page=1 sort="recent-updates"}}>Recent Updates</sd.Option>
      <sd.Option @query={{hash page=1 sort="new"}}>Newly Added</sd.Option>
    </SortDropdown>
  </div>
</div>

<CrateList @crates={{this.model}} local-class="list" />

<Pagination @pagination={{this.pagination}} />
