{{ title 'Crates' }}

<div id='crates-heading' class='crate-index'>
  <div class='info'>
    {{svg-jar "crate"}}
    <h1>All Crates</h1>
  </div>
  {{#if this.letter}}
    <h2>starting with '{{ this.letter }}'</h2>
  {{/if}}
</div>

<div id='selection'>
  {{#each this.alphabet as |letter|}}
    <LinkTo @query={{hash letter=letter page=1}}>
      {{ letter }}
    </LinkTo>
  {{/each}}

  <select {{on "change" (action "handleSelection")}}>
    <option>Filter by the letter...</option>
    {{#each this.alphabet as |letter|}}
      <option value={{letter}} selected={{eq letter this.letter}}>{{ letter }}</option>
    {{/each}}
  </select>
</div>

<div id='results'>
  <div class='nav' data-test-crates-nav>
    <span class='amt small'>
      Displaying
      <span class='cur' data-test-current-rows>{{ this.currentPageStart }}-{{ this.currentPageEnd }}</span>
      of <span class='total' data-test-total-rows>{{ this.totalItems }}</span> total results
    </span>
  </div>

  <div class='sort' data-test-crates-sort>
    <span class='small'>Sort by</span>

    <RlDropdownContainer class="dropdown-container">
      <RlDropdownToggle @tagName="a" class="dropdown" data-test-current-order>
        {{svg-jar "sort"}}
        {{ this.currentSortBy }}
        <span class='arrow'></span>
      </RlDropdownToggle>

      <RlDropdown @tagName="ul" class="dropdown">
        <li>
          <LinkTo @query={{hash page=1 sort="alpha"}}>
            Alphabetical
          </LinkTo>
        </li>
        <li>
          <LinkTo @query={{hash page=1 sort="downloads"}}>
            All-Time Downloads
          </LinkTo>
        </li>
        <li>
          <LinkTo @query={{hash page=1 sort="recent-downloads"}}>
            Recent Downloads
          </LinkTo>
        </li>
        <li>
          <LinkTo @query={{hash page=1 sort="recent-updates"}}>
            Recent Updates
          </LinkTo>
        </li>
      </RlDropdown>
    </RlDropdownContainer>
  </div>
</div>

<div id='crates' class='white-rows'>
  {{#each this.model as |crate index|}}
    <CrateRow @crate={{crate}} data-test-crate-row={{index}} />
  {{/each}}
</div>

<Pagination @pages={{this.pages}} @prevPage={{this.prevPage}} @nextPage={{this.nextPage}} />
