{{ title 'Crates' }}

<div class="crates-heading">
  <h1>
    {{svg-jar "crate"}}
    All Crates
    {{#if this.letter}}
      <small>starting with '{{this.letter}}'</small>
    {{/if}}
  </h1>
</div>

<div local-class='selection'>
  {{#each this.alphabet as |letter|}}
    <LinkTo @query={{hash letter=letter page=1}}>
      {{ letter }}
    </LinkTo>
  {{/each}}

  <select {{on "change" (action "handleSelection")}}>
    <option>Filter by the letter...</option>
    {{#each this.alphabet as |letter|}}
      <option value={{letter}} selected={{eq letter this.letter}}>{{ letter }}</option>
    {{/each}}
  </select>
</div>

<div id='results'>
  <ResultsCount
    @start={{this.currentPageStart}}
    @end={{this.currentPageEnd}}
    @total={{this.totalItems}}
    data-test-crates-nav
  />

  <div class='sort' data-test-crates-sort>
    <span class='small'>Sort by</span>

    <Dropdown as |dd|>
      <dd.Trigger class="dropdown-button" data-test-current-order>
        {{svg-jar "sort"}}
        {{ this.currentSortBy }}
      </dd.Trigger>

      <dd.Content class="dropdown">
        <ul>
          <li>
            <LinkTo @query={{hash page=1 sort="alpha"}}>
              Alphabetical
            </LinkTo>
          </li>
          <li>
            <LinkTo @query={{hash page=1 sort="downloads"}}>
              All-Time Downloads
            </LinkTo>
          </li>
          <li>
            <LinkTo @query={{hash page=1 sort="recent-downloads"}}>
              Recent Downloads
            </LinkTo>
          </li>
          <li>
            <LinkTo @query={{hash page=1 sort="recent-updates"}}>
              Recent Updates
            </LinkTo>
          </li>
          <li>
            <LinkTo @query={{hash page=1 sort="new"}}>
              Newly Added
            </LinkTo>
          </li>
        </ul>
      </dd.Content>
    </Dropdown>
  </div>
</div>

<div class='white-rows'>
  {{#each this.model as |crate index|}}
    <CrateRow @crate={{crate}} class="row" data-test-crate-row={{index}} />
  {{/each}}
</div>

<Pagination @pages={{this.pages}} @prevPage={{this.prevPage}} @nextPage={{this.nextPage}} />
