{{ title 'Crates' }}

<div id='crates-heading' class='crate-index'>
    <div class='info'>
        {{svg-jar "crate"}}
        <h1>All Crates</h1>
    </div>
    {{#if letter}}
        <h2>starting with '{{ letter }}'</h2>
    {{/if}}
</div>

<div id='selection'>
    {{#each alphabet as |letter|}}
        {{#link-to (query-params letter=letter page=1)}}
            {{ letter }}
        {{/link-to}}
    {{/each}}

    {{#x-select value=letter action=(action (mut letter)) as |xs|}}
        <option>Filter by the letter...</option>
        {{#each alphabet as |letter|}}
            {{#xs.option value=letter}}{{ letter }}{{/xs.option}}
        {{/each}}
    {{/x-select}}
</div>

<div id='results'>
    <div class='nav' data-test-crates-nav>
        <span class='amt small'>
            Displaying
            <span class='cur' data-test-current-rows>{{ currentPageStart }}-{{ currentPageEnd }}</span>
            of <span class='total' data-test-total-rows>{{ totalItems }}</span> total results
        </span>
    </div>

    <div class='sort' data-test-crates-sort>
        <span class='small'>Sort by</span>

        {{#rl-dropdown-container class="dropdown-container"}}
            {{#rl-dropdown-toggle tagName="a" class="dropdown" data-test-current-order=true}}
                {{svg-jar "sort"}}
                {{ currentSortBy }}
                <span class='arrow'></span>
            {{/rl-dropdown-toggle}}

            {{#rl-dropdown tagName="ul" class="dropdown" closeOnChildClick="a:link"}}
                <li>
                    {{#link-to (query-params page=1 sort="alpha")}}
                        Alphabetical
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to (query-params page=1 sort="downloads")}}
                        All-Time Downloads
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to (query-params page=1 sort="recent-downloads")}}
                        Recent Downloads
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to (query-params page=1 sort="recent-updates")}}
                        Recent Updates
                    {{/link-to}}
                </li>
            {{/rl-dropdown}}
        {{/rl-dropdown-container}}
    </div>
</div>

<div id='crates' class='white-rows'>
    {{#each model as |crate index|}}
        {{crate-row crate=crate data-test-crate-row=index}}
    {{/each}}
</div>

<nav class='pagination' aria-label="Pagination navigation">
    {{#link-to (query-params page=prevPage) class="prev" rel="prev" title="previous page" data-test-pagination-prev=true}}
        {{svg-jar "left-pag"}}
    {{/link-to}}
    <ol>
        {{#each pages as |page|}}
            <li>
                {{#link-to (query-params page=page) title=(concat "Go to page " page)}}
                    {{ page }}
                {{/link-to}}
            </li>
        {{/each}}
    </ol>
    {{#link-to (query-params page=nextPage) class="next" rel="next" title="next page" data-test-pagination-next=true}}
        {{svg-jar "right-pag"}}
    {{/link-to}}
</nav>
