<div id='crates-heading'>
    <img class='logo' src="/assets/dashboard.png"/>
    <h1>My Dashboard</h1>
</div>

<div id='my-crate-lists' class='crate-lists'>
    <div id='my-crates'>
        <div class='header'>
            <h2>
                <img src="/assets/my-packages.png"/>
                My Crates
            </h2>

            {{#if hasMoreCrates}}
                <span class='small'>{{link-to 'Show all' 'me.crates'}}</span>
            {{/if}}
        </div>
        {{#if fetchingCrates}}
            <img src="/assets/ajax-loader.gif"/>
        {{else}}
            {{render "my-crate-list" visibleCrates}}
        {{/if}}
    </div>
    <div id='my-following'>
        <div class='header'>
            <h2>
                <img src="/assets/following.png"/>
                Following
            </h2>

            {{#if hasMoreFollowing}}
                <span class='small'>{{link-to 'Show all' 'me.following'}}</span>
            {{/if}}
        </div>
        {{#if fetchingFollowing}}
            <img src="/assets/ajax-loader.gif"/>
        {{else}}
            {{render "my-crate-list" visibleFollowing}}
        {{/if}}
    </div>
</div>
