<div id='crates-heading'>
    <img class='logo' src="/assets/dashboard.png"/>
    <h1>My Dashboard</h1>
</div>

<div id='my-info'>
    <div id='my-crate-lists' class='crate-lists'>
        <div id='my-crates'>
            <div class='header'>
                <h2>
                    <img src="/assets/my-packages.png"/>
                    My Crates
                </h2>

                {{#if hasMoreCrates}}
                    <span class='small'>
                        {{link-to 'Show all' 'me.crates'}}
                    </span>
                {{/if}}
            </div>
            {{render "my-crate-list" visibleCrates}}
        </div>
        <div id='my-following'>
            <div class='header'>
                <h2>
                    <img src="/assets/following.png"/>
                    Following
                </h2>

                {{#if hasMoreFollowing}}
                    <span class='small'>
                        {{link-to 'Show all' 'me.following'}}
                    </span>
                {{/if}}
            </div>
            {{render "my-crate-list" visibleFollowing}}
        </div>
    </div>

    <div id='my-feed'>
        <h2>
            <img src="/assets/latest-updates.png"/>
            Latest Updates
        </h2>

        <div class='white-rows'>
            {{#each myFeed as |crate|}}
                <div class='row'>
                    <div class='info'>
                        {{link-to crate.name 'crate' crate}}
                        <span class='small'>{{ crate.num }}</span>
                        <span class='date small'>
                            {{from-now crate.created_at}}
                        </span>
                    </div>
                </div>
            {{/each}}

            {{#if loadingMore}}
                <span class='load-more'>
                    <img src="/assets/ajax-loader.gif"/>
                </span>
            {{else}}
                {{#if hasMore}}
                    <button class='load-more' {{ action 'loadMore' }}>
                        Load More
                    </button>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>
