<div id='main-index-content'>
<div class="container">
<div class='row'>
    <div class='col-md-5 col-xs-12 col-centered'>
        <img src="/assets/Cargo-Logo-Small.png" id="logo"/>
    </div>

    <div class='col-md-7 col-xs-12 vcenter col-centered'>
        <form id='main-search' class='search' action='/search' {{ action "search" on="submit" }} >
            {{input type="text" class="form-control search" name="q"
                    placeholder="Search Crates"
                    value=search
                    autofocus="autofocus"
                    tabindex="1"}}
        </form>
    </div>
</div>
</div>


<div id='blurb' class="container-fluid">
<div class='row'>
    <div id='intro' class='col-sm-8 col-centered'>
        <h2>The Rust community&rsquo;s crate host</h2>

        <p>
            Instantly publish your crates and install them. Use the API to
            interact and find out more information about available crates. Become
            a contributor and enhance the site with your work.
        </p>

        <br>
        <div class='links'>
            {{#link-to "install" class='yellow-button'}}
                <img class="button-download" src="/assets/button-download.png"/>
                Install Cargo
            {{/link-to}}

            <a href='http://doc.crates.io/guide.html' class='yellow-button'>
                <img class="flag" src="/assets/flag.png"/>
                Getting Started
            </a>
        </div>
    </div>


    <div id='stats' class='col-sm-4 col-centered'>
        <div class='crates'>
            <img src="/assets/crate.png"/>
            <div>
                <span class='num'>{{format-num model.num_crates}}</span>
                <div class='desc small'>Crates in stock</div>
            </div>
        </div>
        <div class='downloads'>
            <img src="/assets/download.png"/>
            <div>
                <span class='num'>{{format-num model.num_downloads}}</span>
                <div class='desc small'>Downloads</div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div id='home-crates' class='crate-lists'>
    <div id='new-crates'>
        <h3>New Crates</h3>
        {{crate-list crates=model.new_crates}}
    </div>
    <div id='most-downloaded'>
        <h3>Most Downloaded</h3>
        {{crate-list crates=model.most_downloaded}}
    </div>
    <div id='just-updated'>
        <h3>Just Updated</h3>
        {{crate-list crates=model.just_updated}}
    </div>
</div>

<footer>
    <a href='https://github.com/rust-lang/cargo'>
        <img class='icon footer' src="/assets/nav_github.png"/>
    </a>

    <a href='https://twitter.com/rustlang'>
        <img class='icon footer' src="/assets/nav_twitter.png"/>
    </a>

    <a href='https://www.rust-lang.org/'>
        <img class='icon footer' src="/assets/nav_rust.png"/>
    </a>
</footer>
