{{ title 'Keywords' }}

<div class="crates-heading">
  {{svg-jar "crate"}}
  <h1>All Keywords</h1>
</div>

<div id='results'>
  <ResultsCount
    @start={{this.currentPageStart}}
    @end={{this.currentPageEnd}}
    @total={{this.totalItems}}
    data-test-keywords-nav
  />

  <div class='sort' data-test-keywords-sort>
    <span class='small'>Sort by</span>
    <Dropdown as |dd|>
      <dd.Trigger class="dropdown-button" data-test-current-order>
        {{svg-jar "sort"}}
        {{ this.currentSortBy }}
      </dd.Trigger>

      <dd.Content>
        <ul class="dropdown-menu">
          <li>
            <LinkTo @query={{hash sort="alpha"}}>
              Alphabetical
            </LinkTo>
          </li>
          <li>
            <LinkTo @query={{hash sort="crates"}}>
              # Crates
            </LinkTo>
          </li>
        </ul>
      </dd.Content>
    </Dropdown>
  </div>
</div>

<div class='white-rows'>
  {{#each this.model as |keyword|}}
    <div class='row'>
      <div class='info'>
        <LinkTo @route="keyword" @model={{keyword}}>{{keyword.id}}</LinkTo>
        <span class='small'>
          {{ pluralize (format-num keyword.crates_cnt) "crate" }}
        </span>
      </div>
    </div>
  {{/each}}
</div>

<Pagination @pages={{this.pages}} @prevPage={{this.prevPage}} @nextPage={{this.nextPage}} />
