{{page-title 'Keywords'}}

<PageHeader @title="All Keywords"/>

<div local-class="results-meta">
  <ResultsCount
    @start={{this.pagination.currentPageStart}}
    @end={{this.pagination.currentPageEnd}}
    @total={{this.totalItems}}
    data-test-keywords-nav
  />

  <div data-test-keywords-sort>
    <span local-class="sort-by-label">Sort by</span>
    <SortDropdown @current={{this.currentSortBy}} as |sd|>
      <sd.Option @query={{hash sort="alpha"}}>Alphabetical</sd.Option>
      <sd.Option @query={{hash sort="crates"}}># Crates</sd.Option>
    </SortDropdown>
  </div>
</div>

<div local-class="list">
  {{#each this.model as |keyword|}}
    <div local-class="row">
      <LinkTo @route="keyword" @model={{keyword}}>{{keyword.id}}</LinkTo>
      <span local-class="crate-count">
        {{format-num keyword.crates_cnt}} {{if (eq keyword.crates_cnt 1) "crate" "crates"}}
      </span>
    </div>
  {{/each}}
</div>

<Pagination @pagination={{this.pagination}} />
