<dl>
  <dt>Email</dt>
  <dd>{{ email }}</dd>
  <dt>Cargo API Token</dt>
  <dd>
    {{ api_token }}
    <button id='user-reset-token'
            {{bind-attr class="isResetting:loading"}}
            {{action "resetToken"}}>Reset Token</button>
    <span class='loading-gif'
          {{bind-attr class="isResetting:visible"}}></span>
  </dd>
</dl>

<p>Log in via the command line:
<pre>
cargo login {{ api_token }}
</pre>
