{{page-title (concat "Search Results for '" this.q "'")}}

<PageHeader
  @title="Search Results"
  @suffix={{if this.q (concat "for '" this.q "'")}}
  @icon="magnifier"
  @showSpinner={{this.dataTask.isRunning}}
  data-test-header
/>

{{#if this.hasMultiCategoryFilter}}
  <div local-class="warning">
    Support for using multiple <code>category:</code> filters is not yet implemented.
  </div>
{{/if}}

{{#if this.firstResultPending}}
  <h2>Loading search results...</h2>
{{else if this.dataTask.lastComplete.error}}
  <p data-test-error-message>
    Unfortunately something went wrong while loading the search results. Feel
    free to try again, or let the <a href="mailto:help@crates.io">crates.io
    team</a> know if the problem persists.
  </p>

  <button
    type="button"
    disabled={{this.dataTask.isRunning}}
    local-class="try-again-button"
    data-test-try-again-button
    {{on "click" this.fetchData}}
  >
    Try Again
  </button>
{{else if this.hasItems}}
  <div local-class="results-meta">
    <ResultsCount
      @start={{this.pagination.currentPageStart}}
      @end={{this.pagination.currentPageEnd}}
      @total={{this.totalItems}}
      data-test-search-nav
    />

    <div data-test-search-sort>
      <span local-class="sort-by-label">Sort by </span>
      <SortDropdown @current={{this.currentSortBy}} as |sd|>
        <sd.Option @query={{hash page=1 sort="relevance"}}>Relevance</sd.Option>
        <sd.Option @query={{hash page=1 sort="downloads"}}>All-Time Downloads</sd.Option>
        <sd.Option @query={{hash page=1 sort="recent-downloads"}}>Recent Downloads</sd.Option>
        <sd.Option @query={{hash page=1 sort="recent-updates"}}>Recent Updates</sd.Option>
        <sd.Option @query={{hash page=1 sort="new"}}>Newly Added</sd.Option>
      </SortDropdown>
    </div>
  </div>

  <CrateList @crates={{this.model}} local-class="list" />

  <Pagination @pagination={{this.pagination}} />
{{else}}
  <h2>0 crates found. <a href='https://doc.rust-lang.org/cargo/getting-started/'>Get started</a> and create your own.</h2>
{{/if}}
