<PageHeader @title="Contact Us" />

<TextContent data-test-id="support-main-content">
  {{#if this.supported}}
    {{#if (eq this.inquire "crate-violation")}}
      <section data-test-id="crate-violation-section">
        <Support::CrateReportForm @crate={{this.crate}} />
      </section>
    {{/if}}
  {{else}}
    <section data-test-id="inquire-list-section">
      <h2>Choose one of the these categories to continue.</h2>
      <ul local-class="inquire-list" data-test-id="inquire-list">
        {{#each this.supports as |support|}}
          <li>
            <LinkTo
              @route="support"
              @query={{hash inquire=support.inquire}}
              data-test-id="link-{{support.inquire}}"
              local-class="link"
            >
            {{support.label}}
            </LinkTo>
          </li>
        {{/each}}
        <li>
          <a
            href="mailto:help@crates.io"
            data-test-id="link-email-support"
            local-class="link"
          >
            For all other cases:
            <strong>help@crates.io</strong>
          </a>
        </li>
      </ul>
    </section>
  {{/if}}
</TextContent>