<PageHeader local-class="header" data-test-heading>
  <UserAvatar @user={{this.model.team}} @size="medium" local-class="avatar" data-test-avatar />
  <div>
    <div local-class="header-row">
      <h1 data-test-org-name>
        {{ this.model.team.org_name }}
      </h1>
      <UserLink @user={{this.model.team}} local-class="github-link" data-test-github-link>
        {{svg-jar "github" alt="GitHub profile"}}
      </UserLink>
    </div>
    <h2 data-test-team-name>
      {{ this.model.team.name }}
    </h2>
  </div>
</PageHeader>

<div local-class="results-meta">
  <ResultsCount
    @start={{this.pagination.currentPageStart}}
    @end={{this.pagination.currentPageEnd}}
    @total={{this.totalItems}}
  />

  <div>
    <span local-class="sort-by-label">Sort by</span>
    <SortDropdown @current={{this.currentSortBy}} as |sd|>
      <sd.Option @query={{hash sort="alpha"}}>Alphabetical</sd.Option>
      <sd.Option @query={{hash sort="downloads"}}>All-Time Downloads</sd.Option>
      <sd.Option @query={{hash sort="recent-downloads"}}>Recent Downloads</sd.Option>
      <sd.Option @query={{hash sort="recent-updates"}}>Recent Updates</sd.Option>
      <sd.Option @query={{hash sort="new"}}>Newly Added</sd.Option>
    </SortDropdown>
  </div>
</div>

<CrateList @crates={{this.model.crates}} local-class="list" />

<Pagination @pagination={{this.pagination}} />