<div class="crates-heading" data-test-heading>
  <UserAvatar @user={{this.model.user}} @size="medium" data-test-avatar />
  <h1 data-test-username>
    {{ this.model.user.login }}
  </h1>
  <UserLink @user={{this.model.user}} data-test-user-link>
    <img alt="GitHub profile" title="GitHub profile" src="/assets/GitHub-Mark.svg">
  </UserLink>
</div>

<div id='user-profile'>
  <div class='info'>
    {{! TODO: reduce duplication with templates/crates.hbs }}

    <div id='results'>
      <ResultsCount
        @start={{this.currentPageStart}}
        @end={{this.currentPageEnd}}
        @total={{this.totalItems}}
      />

      <div class='sort'>
        <span class='small'>Sort by</span>
        <Dropdown as |dd|>
          <dd.Trigger class="dropdown-button">
            {{svg-jar "sort"}}
            {{ this.currentSortBy }}
          </dd.Trigger>

          <dd.Content class="dropdown">
            <ul>
              <li>
                <LinkTo @query={{hash sort="alpha"}}>
                  Alphabetical
                </LinkTo>
              </li>
              <li>
                <LinkTo @query={{hash sort="downloads"}}>
                  All-Time Downloads
                </LinkTo>
              </li>
              <li>
                <LinkTo @query={{hash sort="recent-downloads"}}>
                  Recent Downloads
                </LinkTo>
              </li>
              <li>
                <LinkTo @query={{hash sort="recent-updates"}}>
                  Recent Updates
                </LinkTo>
              </li>
              <li>
                <LinkTo @query={{hash sort="new"}}>
                  Newly Added
                </LinkTo>
              </li>
            </ul>
          </dd.Content>
        </Dropdown>
      </div>
    </div>

    <div class='white-rows'>
      {{#each this.model.crates as |crate|}}
        <CrateRow @crate={{crate}} class="row" />
      {{/each}}
    </div>

    <Pagination @pages={{this.pages}} @prevPage={{this.prevPage}} @nextPage={{this.nextPage}} />
  </div>
</div>
